<template>
    <section class="section center-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Configurações</h1>
                </div>
                <div class="column is-narrow">
                    <b-button type="is-primary" @click="saveEmpresa" :disabled="loading || saving">Salvar</b-button>
                </div>
            </div>

            <div style="min-height: calc(100vh - 135px);">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <h2 class="subtitle">Informações da Empresa</h2>
                    </div>

                    <div class="column is-narrow">
                        <img-picker
                            v-model="empresa.logotipo"
                        />
                    </div>

                    <div class="column">
                        <div class="columns is-multiline">
                            <div class="column is-half">
                                <b-field label="Nome">
                                    <b-input 
                                        v-model.trim="empresa.nome"
                                        :disabled="loading || saving"
                                        :loading="loading"
                                        placeholder="Exemplo: Nome Fantasia Auto Peças"
                                    />
                                </b-field>
                            </div>

                            <div class="column is-half">
                                <b-field label="Razão Social">
                                    <b-input 
                                        v-model.trim="empresa.rsocial"
                                        placeholder="Exemplo: Auto Empresa e Cia Ltda. ME."
                                        :disabled="loading || saving"
                                        :loading="loading"
                                    />
                                </b-field>
                            </div>

                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">CNPJ</label>
                                    <div class="control is-clearfix">
                                        <the-mask 
                                            type="text" 
                                            autocomplete="on" 
                                            class="input"
                                            v-model="empresa.cnpj"
                                            placeholder="Exemplo: 77.352.273/0001-20"
                                            :mask="'##.###.###/####-##'"
                                            :masked="false"
                                            :disabled="loading || saving"
                                            :loading="loading"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <b-field label="Inscrição Estadual">
                                    <b-input 
                                        v-model.trim="empresa.ie"
                                        placeholder="Exemplo: 372.91662-18"
                                        :disabled="loading || saving"
                                        :loading="loading"
                                    />
                                </b-field>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">Telefone</label>
                                    <div class="control is-clearfix">
                                        <the-mask 
                                            type="text" 
                                            autocomplete="on" 
                                            class="input"
                                            v-model="empresa.telefone"
                                            placeholder="Exemplo: (45) 3038-2222"
                                            :mask="['(##) ####-####', '(##) #####-####']"
                                            :masked="false"
                                            :disabled="loading || saving"
                                            :loading="loading"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">Celular</label>
                                    <div class="control is-clearfix">
                                        <the-mask 
                                            type="text" 
                                            autocomplete="on" 
                                            class="input"
                                            v-model="empresa.celular"
                                            placeholder="Exemplo: (45) 98820-3030"
                                            :mask="['(##) ####-####', '(##) #####-####']"
                                            :masked="false"
                                            :disabled="loading || saving"
                                            :loading="loading"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                        <div class="column is-half">
                            <b-field label="Endereço">
                                <b-input 
                                    v-model.trim="empresa.endereco"
                                    placeholder="Exemplo: Rua Teodoro Nardi, 960 - Sala 2"
                                    :disabled="loading || saving"
                                    :loading="loading"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <b-field label="Bairro">
                                <b-input 
                                    v-model.trim="empresa.bairro"
                                    placeholder="Exemplo: Pioneiros Catarinenses"
                                    :disabled="loading || saving"
                                    :loading="loading"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">CEP</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="empresa.cep"
                                        mask="##.###-###"
                                        placeholder="Exemplo: 85.805-560"
                                        :masked="false"
                                        :disabled="loading || saving"
                                        :loading="loading"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="column is-half">
                            <b-field label="E-mail">
                                <b-input 
                                    v-model.trim="empresa.email"
                                    placeholder="Exemplo: mariadb@gmail.com"
                                    :disabled="loading || saving"
                                    :loading="loading"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">Estado</label>
                                <c-select
                                    label="nome"
                                    v-model="estado"
                                    placeholder="Selecione um Estado"
                                    :options="estados"
                                    :disabled="loading || saving"
                                    :loading="loading"
                                    @input="updateEstado"
                                    @search="findEstado"
                                    searchable remote-search dropup
                                >
                                    <template #option="{ option }">
                                        {{ option.sigla }} - {{ option.nome }}
                                    </template>
                                    <template #selected="{ option }">
                                        {{ option.sigla }} - {{ option.nome }}
                                    </template>
                                </c-select>
                            </div>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">Cidade</label>
                                <c-select
                                    label="nome"
                                    v-model="empresa.cidade"
                                    :placeholder="!cidades.length ? 'Primeiro, selecione um estado' : 'Selecione uma cidade'"
                                    :options="cidades"
                                    :disabled="!cidades.length || loading || saving"
                                    :loading="loading"
                                    searchable dropup
                                />
                            </div>
                        </div>
                    </div>

                <hr>

                <div class="columns is-multiline">
                    <div class="column is-9">
                        <h2 class="subtitle">Próximo Número de OS</h2>
                    </div>
                    <div class="column is-3">
                        <b-input
                            :value="autoIncrement"
                            :loading="loadingAutoIncrement"
                            disabled
                        />
                    </div>
                    <div class="column is-9">
                        <h2 class="subtitle">Versão do Sistema</h2>
                    </div>
                    <div class="column is-3">
                        <b-input
                            :value="$root.getVersion()"
                            disabled
                        />
                    </div>
                </div>
            </div>

        </div>

    </section>
</template>

<script>
    import fuzzysort from "fuzzysort";
    import estados_cidades from "../services/lists/estados_cidades";
    import ImgPicker from "../components/ui/ImgPicker";
    import {remote} from "electron";

    export default {
        data() {
            return {
                estados: estados_cidades,
                estado: null,
                cidades: [],
                empresa: {
                    nome: '',
                    rsocial: '',
                    cnpj: '',
                    ie: '',
                    endereco: '',
                    bairro: '',
                    cep: '',
                    cidade: '',
                    estado: '',
                    telefone: '',
                    celular: '',
                    email: '',
                    logotipo: ''
                },
                autoIncrement: 0,
                loading: false,
                loadingAutoIncrement: false,
                saving: false
            }
        },
        created() {
            this.loadAutoIncrement();
            this.loadEmpresa();
        },
        components: {
            ImgPicker
        },
        methods: {
            findEstado(q) {
                if (q.trim()) {
                    this.estados = fuzzysort.go(q.trim(), estados_cidades, { keys: ['nome', 'sigla'] }).map(e => e.obj);
                } else {
                    this.estados = estados_cidades;
                }
            },
            updateEstado(estado) {
                this.estado = estado;
                this.empresa.estado = estado.sigla;
                this.empresa.cidade = '';
                this.cidades = estado.cidades;
            },
            loadAutoIncrement() {
                this.loadingAutoIncrement = true;

                this.$service.settings.getCurrentAutoIncrementOS()
                    .then(r => {
                        if (r) {
                            this.autoIncrement = r.value + 1;
                        } else {
                            this.autoIncrement = 1;
                        }
                    })
                    .catch(e => {
                        console.error("Erro ao carregar o auto incremento", e);
                    })
                    .finally(() => {
                        this.loadingAutoIncrement = false;
                    });
            },
            loadEmpresa() {
                this.loading = true;

                this.$service.settings.getInfoEmpresa()
                    .then(r => {
                        if (r) {
                            this.empresa = r.value;

                            if (this.empresa.estado) {
                                this.estado = this.estados.find(e => e.sigla == this.empresa.estado);
                                this.cidades = this.estado.cidades;
                            }
                        }
                    })
                    .catch(e => {
                        console.error("Erro ao carregar dados da empresa", e);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            saveEmpresa() {
                this.saving = true;

                this.$service.settings.setInfoEmpresa(this.empresa)
                    .then(r => {
                        this.$root.success("Informações salvas com sucesso!");
                        this.loadEmpresa();
                    })
                    .catch(e => {
                        console.error("Erro ao salvar dados da empresa", e);
                        this.$root.error("Ocorreu um problema ao salvar as informações.");
                    })
                    .finally(() => {
                        this.saving = false;
                    });
            }
        }
    }
</script>