<template>
    <section class="section center-section">
        <div class="container">
            <h1 class="title">O que você deseja fazer?</h1>
            <h2 class="subtitle">Escolha uma das opções abaixo</h2>
            
            <div class="columns">
                <div class="column is-8">
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            <h4 class="title is-4">Clientes</h4>
                        </div>

                        <div class="column is-half" style="padding-top: 0;">
                            <router-link tag="div" class="notification action-card" :to="{ name: 'list-cliente' }">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween">
                                    <span>
                                        <b-icon icon="account" size="is-large" type="is-primary"/>
                                        <b-icon icon="magnify" size="is-medium" type="is-primary" style="margin-left: -0.5rem;"/>
                                    </span>
                                    <span class="is-size-4 has-text-weight-bold has-text-primary">PESQUISAR</span>
                                </div>
                            </router-link>
                        </div>

                        <div class="column is-half" style="padding-top: 0;">
                            <router-link tag="div" class="notification action-card" :to="{ name: 'new-cliente' }">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween">
                                    <span>
                                        <b-icon icon="account" size="is-large" type="is-primary"/>
                                        <b-icon icon="plus" size="is-medium" type="is-primary" style="margin-left: -0.5rem;"/>
                                    </span>
                                    <span class="is-size-4 has-text-weight-bold has-text-primary">CADASTRAR</span>
                                </div>
                            </router-link>
                        </div>

                        <div class="column is-full" style="margin-top: 0.3rem;">
                            <h4 class="title is-4">Veículos</h4>
                        </div>

                        <div class="column is-half" style="padding-top: 0;">
                            <router-link tag="div" class="notification action-card" :to="{ name: 'list-veiculo' }">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween">
                                    <span>
                                        <b-icon icon="car" size="is-large" type="is-primary"/>
                                        <b-icon icon="magnify" size="is-medium" type="is-primary" style="margin-left: -0.5rem;"/>
                                    </span>
                                    <span class="is-size-4 has-text-weight-bold has-text-primary">PESQUISAR</span>
                                </div>
                            </router-link>
                        </div>

                        <div class="column is-full" style="margin-top: 0.3rem;">
                            <h4 class="title is-4">Ordens de Serviço</h4>
                        </div>

                        <div class="column is-half" style="padding-top: 0;">
                            <router-link tag="div" class="notification action-card" :to="{ name: 'list-os' }">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween">
                                    <span>
                                        <b-icon icon="file-table" size="is-large" type="is-primary"/>
                                        <b-icon icon="magnify" size="is-medium" type="is-primary" style="margin-left: -0.5rem;"/>
                                    </span>
                                    <span class="is-size-4 has-text-weight-bold has-text-primary">PESQUISAR</span>
                                </div>
                            </router-link>
                        </div>

                        <div class="column is-half" style="padding-top: 0;">
                            <router-link tag="div" class="notification action-card" :to="{ name: 'new-os' }">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween">
                                    <span>
                                        <b-icon icon="file-table" size="is-large" type="is-primary"/>
                                        <b-icon icon="plus" size="is-medium" type="is-primary" style="margin-left: -0.5rem;"/>
                                    </span>
                                    <span class="is-size-4 has-text-weight-bold has-text-primary">CADASTRAR</span>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            <h4 class="title is-4">Indicadores</h4>
                        </div>

                        <div class="column is-full" style="padding-top: 0;">
                            <div class="notification indicator-card is-primary">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween" v-if="!loading.clientes">
                                    <span class="is-size-1">{{ cards.clientes }}</span>
                                    <div class="has-text-right">
                                        <span class="is-size-4 has-text-weight-bold" style="float: right">CLIENTES</span>
                                        <br>
                                        <span>Cadastrados</span>
                                    </div>
                                </div>
                                <b-loading :is-full-page="false" :active="loading.clientes"/>
                            </div>
                        </div>

                        <div class="column is-full" style="padding-top: 0;">
                            <div class="notification indicator-card is-primary">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween" v-if="!loading.veiculos">
                                    <span class="is-size-1">{{ cards.veiculos }}</span>
                                    <div class="has-text-right">
                                        <span class="is-size-4 has-text-weight-bold" style="float: right">VEÍCULOS</span>
                                        <br>
                                        <span>Cadastrados</span>
                                    </div>
                                </div>
                                <b-loading :is-full-page="false" :active="loading.veiculos"/>
                            </div>
                        </div>

                        <div class="column is-full" style="padding-top: 0;">
                            <div class="notification indicator-card is-primary">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween" v-if="!loading.oshoje">
                                    <span class="is-size-1">{{ cards.oshoje }}</span>
                                    <div class="has-text-right">
                                        <span class="is-size-4 has-text-weight-bold" style="float: right">O.S.</span>
                                        <br>
                                        <span>Hoje</span>
                                    </div>
                                </div>
                                <b-loading :is-full-page="false" :active="loading.oshoje"/>
                            </div>
                        </div>

                        <div class="column is-full" style="padding-top: 0;">
                            <div class="notification indicator-card is-primary">
                                <div class="is-flex is-flex-vcenter is-flex-hbetween" v-if="!loading.osmes">
                                    <span class="is-size-1">{{ cards.osmes }}</span>
                                    <div class="has-text-right">
                                        <span class="is-size-4 has-text-weight-bold" style="float: right">O.S.</span>
                                        <br>
                                        <span>Este Mês</span>
                                    </div>
                                </div>
                                <b-loading :is-full-page="false" :active="loading.osmes"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import IndicadorService from "../services/IndicadorService";

    export default {
        data() {
            return {
                service: new IndicadorService(),
                loading: {
                    clientes:   false,
                    veiculos:   false,
                    oshoje:     false,
                    osmes:      false
                },
                cards: {
                    clientes:   0,
                    veiculos:   0,
                    oshoje:     0,
                    osmes:      0
                }
            }
        },
        created () {
            this.loadClientes();
            this.loadVeiculos();
            this.loadOShoje();
            this.loadOSmes();
        },
        methods: {
            loadClientes() {
                this.loading.clientes = true;

                this.service.clientesCadastrados()
                    .then(r => {
                        this.cards.clientes = r;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar indicador de clientes cadastrados", e);
                        this.cards.clientes = "-";
                    })
                    .finally(() => {
                        this.loading.clientes = false;
                    });
            },
            loadVeiculos() {
                this.loading.veiculos = true;

                this.service.veiculosCadastrados()
                    .then(r => {
                        this.cards.veiculos = r;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar indicador de veículos cadastrados", e);
                        this.cards.veiculos = "-";
                    })
                    .finally(() => {
                        this.loading.veiculos = false;
                    });
            },
            loadOShoje() {
                this.loading.oshoje = true;

                this.service.OShoje()
                    .then(r => {
                        this.cards.oshoje = r;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar indicador de OS hoje", e);
                        this.cards.oshoje = "-";
                    })
                    .finally(() => {
                        this.loading.oshoje = false;
                    });
            },
            loadOSmes() {
                this.loading.osmes = true;

                this.service.OSmesAtual()
                    .then(r => {
                        this.cards.osmes = r;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar indicador de OS mês atual", e);
                        this.cards.osmes = "-";
                    })
                    .finally(() => {
                        this.loading.osmes = false;
                    });
            },
        },
    }
</script>

<style lang="scss" scoped>
</style>