<template>
    <b-navbar
        class="navbar-top"
        type="is-primary" 
        fixed-top 
    >
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }" style="margin-left: 0.5rem;">
                <b-icon icon="wrench"/>
                <span style="margin-left: 0.5rem;">Início</span>
            </b-navbar-item>
        </template>

        <template slot="start">
            <span v-if="name">{{ name }}</span>
            <span v-if="name && cnpj">&nbsp; — &nbsp;</span>
            <span v-if="cnpj">{{ cnpj | formatCpfCnpj }}</span>
        </template>

        <template slot="end">
            <b-navbar-item @click="openHelp">
                <b-icon icon="help"/>
                <span style="margin-left: 0.5rem;">Ajuda</span>
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ name: 'configuracoes' }" style="margin-right: 0.5rem;">
                <b-icon icon="settings"/>
                <span style="margin-left: 0.5rem;">Configurações</span>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
import Configuracoes from "../components/help/Configuracoes";
import Index from "../components/help/Index";
import ListCliente from "../components/help/ListCliente";
import ListVeiculo from "../components/help/ListVeiculo";
import ListOrdemServico from "../components/help/ListOrdemServico";
import EditCliente from "../components/help/EditCliente";
import EditOrdemServico from "../components/help/EditOrdemServico";

export default {
    data() {
        return {
            name: '',
            cnpj: ''
        }
    },
    components: {
        Configuracoes, Index, ListCliente, ListVeiculo, ListOrdemServico, EditCliente, EditOrdemServico
    },
    created () {
        this.$service.settings.getInfoEmpresa()
            .then(r => {
                if (r) {
                    this.name = r.value.rsocial || r.value.nome;
                    this.cnpj = r.value.cnpj;
                }
            })
            .catch(e => {
                console.error("Erro ao carregar dados da empresa para o cadastro de cliente", e);
            });
    },
    methods: {
        openHelp() {
            let currentPage = this.$route.name;

            let modalConfig = {
                parent: this,
                hasModalCard: true,
                trapFocus: true
            }

            switch (currentPage) {
                case 'configuracoes':
                    modalConfig.component = Configuracoes;
                    break;
                case 'index':
                    modalConfig.component = Index;
                    break;
                case 'list-cliente':
                    modalConfig.component = ListCliente;
                    break;
                case 'list-veiculo':
                    modalConfig.component = ListVeiculo;
                    break;
                case 'list-os':
                    modalConfig.component = ListOrdemServico;
                    break;
                case 'new-cliente':
                case 'edit-cliente':
                    modalConfig.component = EditCliente;
                    break;
                case 'new-os':
                case 'edit-os':
                    modalConfig.component = EditOrdemServico;
                    break;
            }

            if (modalConfig.component) {
                this.$buefy.modal.open(modalConfig);
            }
        }
    },
}
</script>