<template>
    <section class="section is-grow-1">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Pesquisar Veículos</h1>
                    <h2 class="subtitle">Comece escrevendo uma das seguintes informações: cliente, marca, modelo, cor ou placa</h2>
                </div>
            </div>

            <div class="columns is-multiline" style="margin-top: 1rem">
                <div class="column is-full">
                    <b-field>
                        <b-input 
                            placeholder="Faça uma pesquisa..."
                            type="search"
                            icon="magnify"
                            @input="search"
                        />
                    </b-field>
                </div>

                <div class="column is-full">
                    <b-table
                        class="data-table"
                        height="calc(100vh - 380px)"
                        :data="tabledata"
                        :loading="isBusy"
                        :current-page="page"
                        :total="count"
                        :per-page="perPage"
                        @page-change="onPageChange"
                        paginated backend-pagination sticky-header
                    >
                        <template slot="empty">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered">
                                    <p><b-icon icon="car-off" size="is-large"></b-icon></p>
                                    <p v-if="term.trim()">Não há resultados com esta pesquisa</p>
                                    <p v-else>Não existem veículos cadastrados</p>
                                </div>
                            </section>
                        </template>

                        <template slot-scope="props">
                            <b-table-column field="cliente" label="Cliente">
                                {{ props.row.cliente.nome }}
                            </b-table-column>

                            <b-table-column field="marca" label="Marca">
                                {{ props.row.marca }}
                            </b-table-column>

                            <b-table-column field="modelo" label="Modelo">
                                {{ props.row.modelo }}
                            </b-table-column>

                            <b-table-column field="cor" label="Cor" centered>
                                {{ props.row.cor }}
                            </b-table-column>

                            <b-table-column field="placa" label="Placa" centered width="125">
                                {{ props.row.placa | formatPlate }}
                            </b-table-column>
                            
                            <b-table-column field="actions" label="Ações" centered width="150">
                                <div class="buttons has-addons is-centered">
                                    <b-button tag="router-link" :to="{ name: 'edit-cliente', params: { id: props.row.cliente._id } }" icon-left="magnify" type="is-light">Ver Cliente</b-button>
                                </div>
                            </b-table-column>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                tabledata: [],
                isBusy: false,
                term: '',
                page: 1,
                count: 0,
                perPage: 20,
            }
        },
        created() {
            this.search('');
        },
        methods: {
            search(term) {
                this.term = term;
                this.isBusy = true;

                this.$service.veiculos.searchVeiculos(term, this.page, this.perPage)
                    .then(r => {
                        this.tabledata = r.content;
                        this.count = r.total;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar veívulos.", e);
                        this.$root.error("Ocorreu um problema ao carregar a lista de veículos.");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            onPageChange(page) {
                this.page = page;
                this.search(this.term);
            },
            // promptDelCliente(c) {
            //     this.$buefy.dialog.confirm({
            //         message: 
            //             `Tem certeza que deseja excluir ${(c.nome || c.rsocial) ? `<b>${c.nome || c.rsocial}</b>` : 'este cliente'}?`+
            //             `<br><br><span class="has-text-danger has-text-weight-bold">ATENÇÃO! ESTA OPERAÇÃO REMOVERÁ O CLIENTE, TODOS OS VEÍCULOS E ORDENS DE SERVIÇO ASSOCIADAS.</span>`,
            //         confirmText: 'Sim',
            //         cancelText: 'Não',
            //         onConfirm: () => { this.delCliente(c) }
            //     });
            // },
            // delCliente(c) {
            //     this.isBusy = true;

            //     this.$service.clientes.remove(c._id)
            //         .then(this.handleDelClienteSuccess)
            //         .catch(this.handleDelClienteError)
            //         .finally(this.disableLoading);
            // },
            // handleDelClienteSuccess(r) {
            //     this.$root.success("Cliente removido com sucesso!");
            //     this.search(this.term);
            // },
            // handleDelClienteError(e) {
            //     console.error("Erro ao remover cliente.", e);
            //     this.$root.error("Ocorreu um problema ao remover o cliente.");
            // },
            disableLoading() {
                this.isBusy = false;
            }
        },
    }
</script>