<template>
    <section class="section center-section">
        <div class="container" style="min-height: calc(100vh - 68px);">
            <div class="columns">
                <div class="column">
                    <h1 class="title">{{ os._id ? 'Editar Ordem de Serviço' : 'Nova Ordem de Serviço' }}</h1>
                    <h2 class="subtitle" v-if="os._id">#{{ os.codigo }}</h2>
                </div>
                <div class="column is-narrow has-text-right">
                    <b-button type="is-danger" @click="promptVoltar">Voltar</b-button>
                    <b-button v-if="id" type="is-info" icon-left="file-pdf" @click="saveOs(true)" :disabled="isExporting">Gerar Documento</b-button>
                    <b-button type="is-primary" @click="saveOs(false)" :disabled="isExporting">Salvar</b-button>
                </div>
            </div>

            <b-loading is-full-page :active="isBusy"/>

            <b-tabs v-model="tab" type="is-boxed" position="is-centered" :disabled="isBusy">
                <!-- ABA DADOS -->
                <b-tab-item label="Dados" icon="information">
                    <!-- INFORMAÇÕES -->
                    <div class="columns">
                        <div class="column is-2">
                            <b-field label="Criado Em">
                                <b-input
                                    :value="os.createdAt ? os.createdAt.toLocaleString().substr(0, 16) : ''"
                                    disabled
                                />
                            </b-field>
                        </div>
                        <div class="column is-2">
                            <b-field label="Status">
                                <c-select
                                    v-model="os.status"
                                    :options="['Aberto', 'Fechado', 'Pago']"
                                    :disabled="!id"
                                />
                            </b-field>
                        </div>
                        <div class="column">
                            <label class="label">Cliente</label>
                            <b-field>
                                <b-input 
                                    class="dark-placeholder"
                                    :value="os.cliente ? os.cliente.nome : null"
                                    placeholder="Selecione um cliente utilizando a pesquisa..."
                                    disabled expanded
                                />
                                <p class="control">
                                    <b-button type="is-primary" icon-left="magnify" @click="openClientSearch">Pesquisar</b-button>
                                </p>
                            </b-field>
                        </div>
                    </div>

                    <!-- CONTATO -->
                    <div class="columns is-multiline">
                        <div class="column">
                            <b-field label="Endereço">
                                <b-input 
                                    class="dark-placeholder"
                                    placeholder="Selecione um cliente para ver seu endereço"
                                    :value="os.cliente ? os.cliente.endereco : null"
                                    disabled
                                />
                            </b-field>
                        </div>

                        <div class="column is-one-quarter">
                            <b-field label="Nome do Contato">
                                <b-input 
                                    v-model="os.contato"
                                    placeholder="Ex: Maria"
                                />
                            </b-field>
                        </div>

                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">Telefone de Contato</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="os.telefone"
                                        :mask="['(##) ####-####', '(##) #####-####']"
                                        placeholder="Exemplo: (45) 98820-3030"
                                        :masked="false"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <div class="field">
                                <label class="label">Veículo</label>
                                <c-select
                                    v-model="os.veiculo"
                                    :placeholder="os.cliente ? 'Selecione um veículo' : 'Selecione um cliente'"
                                    :options="clientVehicles"
                                    :disabled="!os.cliente"
                                    label="placa"
                                    clearable
                                >
                                    <template #option="{ option }">
                                        <span class="has-text-weight-bold">{{ option.modelo }}</span> 
                                        <span v-if="option.placa">- {{ option.placa | formatPlate }}</span>
                                        <span v-else>- Sem Placa</span>
                                    </template>
                                    <template #selected="{ option }">
                                        <span class="has-text-weight-bold">{{ option.modelo }}</span> 
                                        <span v-if="option.placa">&nbsp;- {{ option.placa | formatPlate }}</span>
                                        <span v-else>&nbsp;- Sem Placa</span>
                                    </template>
                                </c-select>
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="field">
                                <label class="label">Quilometragem</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="os.quilometragem"
                                        :mask="['#######']"
                                        placeholder="Exemplo: 166920"
                                        :masked="false"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="column is-4">
                            <b-field :label="`Nível de Combustível: ${levelLabel(os.tanque)}`">
                                <b-slider :min="0" :max="4" :tooltip="false" v-model="os.tanque">
                                    <b-slider-tick v-for="v in [0, 1, 2, 3, 4]" :value="v" :key="v"/>
                                </b-slider>
                            </b-field>
                        </div>

                        <div class="column is-full">
                            <b-field label="Observações">
                                <b-input v-model.trim="os.observacao" maxlength="2000" type="textarea"></b-input>
                            </b-field>
                        </div>
                    </div>
                </b-tab-item>

                <!-- ABA ITENS -->
                <b-tab-item :label="`Itens (${qtdItens})`" icon="engine">
                    <!-- ITENS -->
                    <div class="columns">
                        <div class="column is-flex is-flex-vcenter">
                            <h2 class="subtitle"><b>ITENS DA ORDEM DE SERVIÇO</b></h2>
                        </div>
                        <div class="column is-narrow">
                            <b-button icon-left="plus" type="is-primary" @click="addItem">Adicionar Item</b-button>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-full">
                            <b-table
                                :data="os.itens"
                                class="d-table-vcenter"
                                height="calc(100vh - 350px)"
                                sticky-header
                            >
                                <template slot="empty">
                                    <section class="section">
                                        <div class="content has-text-grey has-text-centered">
                                            <p><b-icon icon="engine-off" size="is-large"></b-icon></p>
                                            <p>Não existe itens na Ordem de Serviço</p>
                                            <p><b-button icon-left="plus" type="is-primary" @click="addItem">Adicionar Item</b-button></p>
                                        </div>
                                    </section>
                                </template>

                                <template slot-scope="props">
                                    <b-table-column field="qtd" label="Quantidade" width="150" centered>
                                        <span v-if="editing != props.index">
                                            {{props.row.qtd}}
                                        </span>
                                        <b-numberinput
                                            v-else
                                            v-model="editingObj.qtd"
                                            controls-position="compact"
                                            min="1"
                                        />
                                    </b-table-column>

                                    <b-table-column field="desc" label="Descrição">
                                        <span v-if="editing != props.index" :class="!props.row.descricao ? 'has-text-danger has-text-weight-bold' : ''">
                                            {{ props.row.descricao ? props.row.descricao.toLocaleUpperCase() : '*** ITEM SEM DESCRIÇÃO ***' }}
                                        </span>
                                        <b-autocomplete
                                            v-else
                                            :data="editingSuggestions"
                                            :value="editingObj.descricao.toLocaleUpperCase()"
                                            :loading="loadingSuggestions"
                                            @input="handleSuggestionInput"
                                            @typing="getSugestoes"
                                            @select="selectSuggestion"
                                        >
                                            <template slot-scope="props">
                                                <div class="is-flex is-flex-hbetween">
                                                    <span class="suggestion" v-html="props.option.highlighted"/>
                                                    <span>{{ props.option.valorunit | formatCurrency }}</span>
                                                </div>
                                            </template>
                                        </b-autocomplete>
                                    </b-table-column>

                                    <b-table-column field="unit" label="Valor Unitário" width="15%" centered>
                                        <span v-if="editing != props.index">
                                            {{props.row.valorunit | formatCurrency}}
                                        </span>
                                        <div class="control is-clearfix" v-else>
                                            <money class="input has-text-centered" v-model="editingObj.valorunit" v-bind="money"/>
                                        </div>
                                    </b-table-column>

                                    <b-table-column field="total" label="Valor Total" width="15%" centered>
                                        <span v-if="editing != props.index">
                                            {{(props.row.valorunit * props.row.qtd) | formatCurrency}}
                                        </span>
                                        <span v-else>
                                            {{(editingObj.valorunit * editingObj.qtd) | formatCurrency}}
                                        </span>
                                    </b-table-column>

                                    <b-table-column field="actions" label="Ações" width="250" centered>
                                        <div class="buttons has-addons is-centered">
                                            <b-button v-if="editing !== props.index" icon-left="pencil" type="is-light" @click="promptEdit(props)">Editar</b-button>
                                            <b-button v-if="editing !== props.index" icon-left="delete" type="is-danger" @click="promptRemove(props)">Remover</b-button>
                                            <b-button v-if="editing === props.index" icon-left="check" type="is-success" @click="saveEdit">Salvar</b-button>
                                            <b-button v-if="editing === props.index" icon-left="close" type="is-dark" @click="cancelEdit">Cancelar</b-button>
                                        </div>
                                    </b-table-column>
                                </template>
                            </b-table>
                            <div class="is-flex is-size-4 has-text-weight-bold">
                                {{ qtdItens }} itens - {{ valorItens | formatCurrency }}
                            </div>
                        </div>
                    </div>
                </b-tab-item>
            </b-tabs>

            <!-- MODAL -->
            <b-modal 
                :active="modalOpen"
                @close="modalOpen = false"
            >
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Pesquisar Cliente</p>
                    </header>
                    <section class="modal-card-body">
                        <div class="columns is-multiline">
                            <div class="column is-full">
                                <b-field>
                                    <b-input 
                                        v-model="termClientSearch"
                                        placeholder="Faça uma pesquisa..."
                                        type="search"
                                        icon="magnify"
                                        @input="searchCliente"
                                    />
                                </b-field>
                            </div>
                            <div class="column is-full is-client-search-os" style="padding-top: 0">
                                <table class="selected-row has-background-grey-lighter">
                                    <tbody>
                                        <tr>
                                            <td style="width: 150px;"><b>Selecionado:</b></td>
                                            <td>{{ clientSelected ? clientSelected.nome : '' }}</td>
                                            <td style="width: 175px;">{{ (clientSelected ? clientSelected.telefone : '') | formatTel }}</td>
                                            <td style="width: 200px;">{{ (clientSelected ? clientSelected.cnpj_cpf : '') | formatCpfCnpj }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <b-table
                                    class="modal-table"
                                    :data="clientSearch"
                                    :loading="isBusy"
                                    :current-page="pageClientSearch"
                                    :total="count"
                                    :per-page="perPage"
                                    :row-class="(r, i) => clientSelected ? (r._id == clientSelected._id && 'has-background-grey-lighter') : ''"
                                    @page-change="onClientPageChange"
                                    @click="selectClienteModal"
                                    height="calc(100vh - 390px)"
                                    sticky-header
                                    paginated backend-pagination
                                >
                                    <template slot-scope="props">
                                        <b-table-column field="tipo" label="Tipo" width="150" centered>
                                            <b-tag v-if="props.row.tipo == 'FISICA'" type="is-primary">FÍSICA</b-tag>
                                            <b-tag v-else type="is-secondary">JURÍDICA</b-tag>
                                        </b-table-column>

                                        <b-table-column field="nome" label="Nome">
                                            {{ props.row.nome }}
                                        </b-table-column>

                                        <b-table-column field="telefone" label="Telefone" width="175">
                                            {{ props.row.telefone | formatTel }}
                                        </b-table-column>

                                        <b-table-column field="cpf" label="CPF/CNPJ" width="200">
                                            {{ props.row.cnpj_cpf | formatCpfCnpj }}
                                        </b-table-column>
                                    </template>
                                </b-table>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot has-text-centered">
                        <div class="is-flex is-100 is-flex-hend">
                            <b-button type="is-primary" @click="selectCliente" :disabled="!clientSelected">Confirmar</b-button>
                            <b-button type="is-light" @click="modalOpen = false">Fechar</b-button>
                        </div>
                    </footer>
                </div>
            </b-modal>
        </div>
    </section>
</template>

<script>
    import pdf_os from "../../services/utils/pdf_os";

    export default {
        data() {
            return {
                id: this.$route.params.id,
                tab: 0,
                editing: -1,
                editingObj: null,
                editingSuggestions: [],
                loadingSuggestions: false,
                os: {
                    id: null,
                    cliente: null,
                    veiculo: null,
                    status: 'Aberto',
                    quilometragem: "",
                    tanque: 0,
                    data: new Date(),
                    contato: null,
                    telefone: null,
                    observacao: '',
                    itens: []
                },
                itemos: {
                    qtd: 0,
                    descricao: '',
                    valorunit: 0
                },
                money: {
                    decimal: ',',
                    thousands: '.',
                    prefix: 'R$ ',
                    precision: 2,
                    masked: false
                },
                modalOpen: false,
                clientSearch: [],
                clientSelected: null,
                clientVehicles: [],                
                termClientSearch: '',
                pageClientSearch: 1,
                count: 0,
                perPage: 20,
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                days: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                isBusy: false,
                isExporting: false
            }
        },
        created () {
            if (this.id) {
                this.load(this.id);
            }
        },
        computed: {
            qtdItens() {
                return (this.os && this.os.itens) ? this.os.itens.length : 0;
            },
            valorItens() {
                return (this.os && this.os.itens) ? this.os.itens.reduce((ac, cv) => ac + (cv.qtd * cv.valorunit), 0) : 0;
            }
        },
        methods: {
            promptVoltar() {
                this.$buefy.dialog.confirm({
                    message: `Tem certeza que deseja sair?`,
                    confirmText: 'Sim',
                    cancelText: 'Não',
                    onConfirm: _ => { this.$router.push({ name: 'list-os' }) }
                });
            },
            load(id) {
                this.isBusy = true;

                this.$service.os.get(id)
                    .then(r => {
                        this.os = r;

                        if (this.os.cliente) {
                            this.clientSelected = this.os.cliente;
                            this.loadVeiculos(this.os.cliente._id);
                        }                        
                    })
                    .catch(e => {
                        this.$root.error("Houve um problema ao carregar esta OS.");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            levelLabel(l) {
                switch (l) {
                    case 0:
                        return "Reserva";
                    case 1:
                        return "1/4";
                    case 2:
                        return "1/2";
                    case 3:
                        return "3/4";
                    case 4:
                        return "Cheio";
                }                
            },
            promptEdit(r) {
                if (this.editing > -1) {
                    this.$buefy.dialog.confirm({
                        message: `Ao editar este item você irá perder as alterações feitas em <b>"${this.editingObj.descricao.toLocaleUpperCase()}"</b>. Deseja continuar?`,
                        confirmText: 'Sim',
                        cancelText: 'Não',
                        onConfirm: _ => { this.editRow(r); }
                    });
                } else {
                    this.editRow(r);
                }
            },
            editRow(r) {
                this.editing = r.index;
                this.editingObj = {... r.row};
            },
            cancelEdit() {
                if (this.editing > -1) {
                    this.editing = -1;
                    this.editingObj = null;
                }
            },
            saveEdit() {
                if (this.editing > -1) {
                    this.$set(this.os.itens, this.editing, this.editingObj);
                    this.editingObj = null;
                    this.editing = -1;
                }
            },
            promptRemove(r) {
                this.$buefy.dialog.confirm({
                    message: `Tem certeza que deseja remover ${r.row.descricao ? `<b>"${r.row.descricao.toLocaleUpperCase()}"</b>` : 'este item'}?`,
                    confirmText: 'Sim',
                    cancelText: 'Não',
                    onConfirm: _ => { this.os.itens.splice(r.index, 1); }
                });
            },
            addItem() {
                this.os.itens.push({qtd: 1, descricao: '', valorunit: 0});
                this.editingObj = {qtd: 1, descricao: '', valorunit: 0};
                this.editing = this.os.itens.length - 1;
            },
            handleSuggestionInput(desc) {
                if (this.editingObj && desc) {
                    this.editingObj.descricao = desc.trim().toLocaleUpperCase();
                }
            },
            selectSuggestion(option) {
                this.editingObj.descricao = option.descricao;
                this.editingObj.valorunit = option.valorunit;
            },
            getSugestoes(q) {
                this.loadingSuggestions = true;

                this.$service.os.itemService.searchItens(q)
                    .then(r => {
                        this.editingSuggestions = r;
                    })
                    .finally(_ => {
                        this.loadingSuggestions = false;
                    });
            },
            searchCliente(term) {
                this.isBusy = true;
                
                this.$service.clientes.findAll(term, this.pageClientSearch, this.perPage, 'nome', 'asc')
                    .then(r => {
                        this.clientSearch = r.content;
                        this.count = r.total;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar clientes.", e);
                        this.$root.error("Ocorreu um problema ao carregar a lista de clientes.");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            onClientPageChange(page) {
                this.pageClientSearch = page;
                this.searchCliente(this.termClientSearch);
            },
            selectCliente() {
                if (this.clientSelected) {
                    this.os.cliente = this.clientSelected;

                    if (this.os.cliente.tipo == 'FISICA') {
                        this.os.contato = this.os.cliente.nome;
                        this.os.telefone = this.os.cliente.telefone;
                    } else {
                        this.os.contato = '';
                        this.os.telefone = '';
                    }

                    this.os.veiculo = null;
                    this.loadVeiculos(this.clientSelected._id);
                    this.modalOpen = false;
                }                
            },
            selectClienteModal(row_cliente) {
                this.clientSelected = row_cliente;
            },
            loadVeiculos(id_cliente) {
                this.$service.veiculos.getByCliente(id_cliente)
                    .then(r => {
                        this.clientVehicles = r;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar veículos.", e);
                    });
            },
            openClientSearch() {
                this.searchCliente(this.termClientSearch);
                this.modalOpen = true;
            },
            validateOs() {
                let valid = true;
                let errors = [];

                this.saveEdit();

                if (!this.os.cliente) {
                    errors.push("Selecione um cliente");
                    valid = false;
                }

                if (!this.os.itens || this.os.itens.length == 0) {
                    errors.push("Adicione pelo menos um item");
                    valid = false;
                }

                if (this.os.itens && this.os.itens.some(e => !e.descricao)) {
                    errors.push("Todos os itens devem possuir descrição");
                    valid = false;
                }

                if (!valid) {
                    let text = 
                        `Corrija os seguintes erros para continuar:<br><ul style='list-style-type:disc; margin-left: 1rem; margin-top: 1rem;'>${errors.map(e => `<li><b>${e}</b></li>`).join('')}</ul>`;

                    this.$root.alert('is-danger', null, false, null, text);
                }

                return valid;
            },
            saveOs(withpdf = false) {
                if (this.validateOs()) {
                    if (withpdf) {
                        this.$root.confirm('is-primary', null, 'A OS será salva antes de gerar o documento. Deseja continuar?')
                            .then(confirm => {
                                if (confirm) {
                                    this.persistOS().then(this.generatePdf);
                                }
                            });
                    } else {
                        this.persistOS()
                            .then(r => {
                                this.$root.alert('is-success', null, false, null, "OS salva com sucesso!")
                                    .then(_ => {
                                        if (r._id) {
                                            this.$router.push({ name: 'edit-os', params: { id: r._id } });
                                        }
                                    });
                            });
                    }
                }
            },
            persistOS() {
                this.isBusy = true;

                if (!this.id) {
                    return this.$service.os.insert(this.os)
                        .catch(e => {
                            this.$root.error("Ocorreu um problema ao salvar a OS.");
                            console.error("Erro ao salvar OS", e);
                        })
                        .finally(() => {
                            this.isBusy = false;
                        });
                } else {
                    return this.$service.os.update(this.id, this.os)
                        .catch(e => {
                            this.$root.error("Ocorreu um problema ao salvar a OS.");
                            console.error("Erro ao salvar OS", e);
                        })
                        .finally(() => {
                            this.isBusy = false;
                        });
                }
            },
            generatePdf() {
                this.isExporting = true;

                pdf_os(this.os)
                    .then(saved => {
                        if (saved) {
                            this.$root.success("Arquivo salvo com sucesso.");
                        }
                    })
                    .catch(e => {
                        this.$root.error("Ocorreu um problema ao salvar o arquivo.");
                    })
                    .finally(() => {
                        this.isExporting = false;
                    });
            }
        },
    }
</script>

<style lang="scss" scoped>
table.selected-row {
    width: 100%;
    margin-bottom: 1rem;

    td {
        padding: 0.5em 0.75em;
    }
}

.suggestion {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}
</style>