<template>
    <section class="section is-grow-1">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Pesquisar Ordens de Serviço</h1>
                    <h2 class="subtitle">Comece escrevendo uma das seguintes informações: o código, nome do cliente ou informações do veículo</h2>
                </div>
                <div class="column is-narrow">
                    <b-button type="is-primary" tag="router-link" :to="{ name: 'new-os' }" icon-left="plus">Nova Ordem de Serviço</b-button>
                </div>
            </div>

            <div class="columns is-multiline" style="margin-top: 1rem">
                <div class="column is-full">
                    <b-field>
                        <b-input 
                            placeholder="Faça uma pesquisa..."
                            type="search"
                            icon="magnify"
                            @input="search"
                        />
                    </b-field>
                </div>
                
                <div class="column is-full">
                    <b-table
                        class="data-table"
                        height="calc(100vh - 400px)"
                        :data="tabledata"
                        :loading="isBusy"
                        :current-page="page"
                        :total="count"
                        :per-page="perPage"
                        @page-change="onPageChange"
                        paginated backend-pagination sticky-header
                    >
                        <template slot="empty">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered" v-if="!term">
                                    <p><b-icon icon="account-off" size="is-large"></b-icon></p>
                                    <p>Não existem Ordens de Serviço</p>
                                    <p><b-button tag="router-link" :to="{ name: 'new-os' }" type="is-primary" icon-left="plus">Nova Ordem de Serviço</b-button></p>
                                </div>
                                <div class="content has-text-grey has-text-centered" v-else>
                                    <p><b-icon icon="magnify-remove-outline" size="is-large"></b-icon></p>
                                    <p>Não há resultados nesta pesquisa</p>
                                </div>
                            </section>
                        </template>

                        <template slot-scope="props">
                            <b-table-column field="codigo" label="Código" width="100" centered>
                                {{ props.row.codigo }}
                            </b-table-column>

                            <b-table-column field="status" label="Status" width="100" centered>
                                <b-tag :type="getColor(props.row.status)">
                                    {{ props.row.status.toLocaleUpperCase() }}
                                </b-tag>
                            </b-table-column>

                            <b-table-column field="data" label="Criado em" width="150" centered>
                                {{ props.row.createdAt ? props.row.createdAt.toLocaleDateString() : '—' }}
                            </b-table-column>

                            <b-table-column field="cliente" label="Cliente">
                                {{ props.row.cliente ? props.row.cliente.nome : '—' }}
                            </b-table-column>

                            <b-table-column field="actions" label="Ações" centered width="210">
                                <div class="buttons has-addons is-centered">
                                    <b-button tag="router-link" :to="{ name: 'edit-os', params: { id: props.row._id } }" icon-left="pencil" type="is-light">Editar</b-button>
                                    <b-button icon-left="delete" type="is-danger" @click="promptDel(props.row)">Excluir</b-button>
                                </div>
                            </b-table-column>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                tabledata: [],
                isBusy: false,
                term: '',
                page: 1,
                count: 0,
                perPage: 20,
            }
        },
        created() {
            this.search('');
        },
        methods: {
            search(term) {
                this.term = term;
                this.isBusy = true;

                this.$service.os.findAll(term, this.page, this.perPage, 'nome', 'asc')
                    .then(r => {
                        this.tabledata = r.content;
                        this.count = r.total;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar ordens de serviço.", e);
                        this.$root.error("Ocorreu um problema ao carregar a lista de ordens de serviço.");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            onPageChange(page) {
                this.page = page;
                this.search(this.term);
            },
            promptDel(os) {
                this.$buefy.dialog.confirm({
                    message: `Tem certeza que deseja excluir a OS <b>#${os.codigo}</b>?`,
                    onConfirm: () => { this.del(os) }
                });
            },
            del(os) {
                this.isBusy = true;

                this.$service.os.remove(os._id)
                    .then(this.handleDelSuccess)
                    .catch(this.handleDelError)
                    .finally(this.disableLoading);
            },
            handleDelSuccess(r) {
                this.$root.success("OS removida com sucesso!");
                this.search(this.term);
            },
            handleDelError(e) {
                console.error("Erro ao remover OS.", e);
                this.$root.error("Ocorreu um problema ao remover a OS.");
            },
            disableLoading() {
                this.isBusy = false;
            },
            getColor(type) {
                switch (type.toLocaleLowerCase()) {
                    case 'aberto':  return 'is-info';
                    case 'pago':    return 'is-success';
                    case 'fechado': return 'is-warning';
                    default:        return 'is-light';
                }
            }
        },
    }
</script>