<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Configurações</p>
        </header>
        <section class="modal-card-body">
            <h2 class="subtitle has-text-weight-bold">Informações da Empresa</h2>
            <div class="has-text-justified">
                <p>Aqui coloca-se as informações da empresa que utiliza a aplicação.
                Os dados inseridos aqui são utilizados para o cabeçalho de impressão da Ordem de Serviço.</p>
                <br>
                <p>Clique no quadrado do logotipo do lado esquerdo para carregar uma imagem e cortá-la para 
                ser utilizado como imagem de logotipo no cabeçalho.</p>
                <br>
                <p>A cidade e estado escolhidos aqui são usados como cidade e estado pré-definido
                ao realizar o cadastro de um novo cliente.</p>
                <br>
                <p class="has-text-weight-bold">
                    Lembre-se de utilizar o botão <b-button type="is-primary">Salvar</b-button> após inserir ou alterar o logotipo e/ou alterar informações.
                </p>
            </div>
            <hr>
            <h2 class="subtitle has-text-weight-bold">Próximo Número de OS</h2>
            <div class="has-text-justified">
                <p>É um campo que mostra qual será o número da próxima Ordem de Serviço a ser criada.
                    Existe somente para fins informativos.</p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>