<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Formulário de Ordem de Serviço</p>
        </header>
        <section class="modal-card-body">
            <div class="has-text-justified">
                <h2 class="subtitle has-text-weight-bold">Informações</h2>
                <p>
                    Este é o formulário para a criação e/ou consulta de uma Ordem de Serviço.
                    Ele é dividido em duas seções: <b>Dados</b> e <b>Itens.</b>
                </p>
                <hr>
                <h2 class="is-flex is-flex-vcenter subtitle has-text-weight-bold"><b-icon style="margin-right: 0.5rem;" icon="information" type="is-primary"/>Dados</h2>
                <p>
                    Nesta seção são inseridas as informações principais da Ordem de Serviço: <b>Cliente</b> e suas informações, <b>Veículo</b> e suas informações.
                    A inserção de um cliente é <span class="has-text-danger has-text-weight-bold">obrigatória</span>.
                </p>
                <br>
                <p>
                    Para escolher o cliente, utilize o botão <b-button type="is-primary" icon-left="magnify" style="transform: translateY(-5px)">Pesquisar</b-button>
                    e uma janela de consulta será aberta. Nela, se escolhe um cliente clicando sobre ele, e a linha da tabela do cliente selecionado é realçada.
                    Também é mostrado na parte superior o cliente selecionado atualmente para consulta rápida.
                </p>
                <br>
                <p>
                    Uma vez selecionado, use o botão <b-button type="is-primary" style="transform: translateY(-5px)">Confirmar</b-button> na parte inferior da
                    janela para salvar este cliente na Ordem de Serviço. Então ele aparecerá no campo de <b>Cliente</b> no formulário, assim como seu endereço, se existir.
                </p>
                <br>
                <p>
                    Por padrão, esses dados são utilizados para preencher os campos <b>Nome do Contato</b> e <b>Telefone de Contato</b>, 
                    porém eles podem ser alterados caso necessário.
                </p>
                <br>
                <p>
                    Uma vez selecionado o cliente, pode-se escolher um de seus veículos no campo <b>Veículo</b> e, caso necessário, preencher os
                    campos <b>Quilometragem</b> e <b>Nível de Combustível</b>. O nível de combustível é preenchido ao arrastar o indicador para os lados.
                </p>
                <br>
                <p>
                    Por último, pode-se escolher um <b>Status</b> da Ordem de Serviço para controle e referência posterior.
                </p>
                <hr>
                <h2 class="is-flex is-flex-vcenter subtitle has-text-weight-bold"><b-icon style="margin-right: 0.5rem;" icon="engine" type="is-primary"/>Itens</h2>
                <p>
                    Nesta seção são inseridos os itens da Ordem de Serviço, que podem ser produtos ou itens. Aqui é obrigatório que 
                    <span class="has-text-danger has-text-weight-bold">todos os itens possuam descrição</span> para permitir salvar a Ordem de Serviço.
                </p>
                <br>
                <p>
                    Utilize o botão <b-button icon-left="plus" type="is-primary" style="transform: translateY(-5px)">Adicionar Item</b-button>
                    para inserir um novo item. Ele aparecerá na tabela logo abaixo para que as informações possam ser inseridas.
                </p>
                <br>
                <p>
                    A tabela mostra todos os itens que se encontram nesta Ordem de Serviço. Quando ocorre a inserção ou alteração de um item, são liberados
                    campos para poder escrever as informações necessárias. São preenchidas <b>Quantidade</b>, <b>Descrição</b> e <b>Valor Unitário</b>. 
                    O <b>Valor Total</b> é calculado automaticamente.
                </p>
                <br>
                <p>
                    Para alterar a <b>Quantidade</b>, utilize os botões 
                    <b-button style="transform: translateY(-5px)" type="is-primary"><b-icon icon="plus"/></b-button> e 
                    <b-button style="transform: translateY(-5px)" type="is-primary"><b-icon icon="minus"/></b-button>.
                </p>
                <br>
                <p>
                    Enquanto um item é alterado, os botões <b-button icon-left="check" type="is-success" style="transform: translateY(-5px)">Salvar</b-button>
                    e <b-button icon-left="close" type="is-dark" style="transform: translateY(-5px)">Cancelar</b-button> aparecem na linha do item que está sendo
                    alterado. Eles servem pra confirmar ou cancelar as alterações que foram feitas naquele item.
                </p>
                <br>
                <p>
                    Para os outros itens, os botões <b-button icon-left="pencil" type="is-light" style="transform: translateY(-5px)">Editar</b-button> e 
                    <b-button icon-left="delete" type="is-danger" style="transform: translateY(-5px)">Remover</b-button> são exibidos. Estes servem para começar
                    a alteração em um item ou removê-lo da Ordem de Serviço.
                </p>
                <br>
                <p>
                    Caso um dos itens não tenha descrição, o aviso <span class="has-text-danger has-text-weight-bold">*** ITEM SEM DESCRIÇÃO ***</span> é exibido
                    para fácil identificação.
                </p>
                <br>
                <p>
                    Os campo de <b>Descrição</b> mostra sugestões no banco de dados de outros itens e valores utilizados anteriormente para fácil referência de
                    itens que são usados com frequência.
                </p>
                <br>
                <p>
                    No final da página é mostrado um totalizador com a quantidade e soma total dos itens desta ordem de serviço.
                </p>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Salvando Informações</h2>
                <p>
                    No canto superior direito, utilize o botão <b-button type="is-primary" style="transform: translateY(-5px)">Salvar</b-button>
                    para guardar a ordem de serviço. Caso existam erros no cadastro que o impeçam de ser salvo, um aviso será mostrado mostrando o que aconteceu.
                </p>
                <br>
                <p>
                    O botão <b-button type="is-info" icon-left="file-pdf" style="transform: translateY(-5px)">Gerar Documento</b-button> permite que seja
                    salvo uma versão em PDF da Ordem de Serviço para que possa ser posteriormente impressa ou enviada por e-mail.
                    Para manter a consistência, a Ordem de Serviço é salva antes de gerar o PDF.
                </p>
                <br>
                <p>
                    O botão <b-button type="is-danger" style="transform: translateY(-5px)">Voltar</b-button> irá voltar para a página anterior, porém
                    as modificações serão perdidas. Uma caixa de diálogo irá perguntar se quer continuar.
                </p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>