<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Formulário de Cliente</p>
        </header>
        <section class="modal-card-body">
            <div class="has-text-justified">
                <h2 class="subtitle has-text-weight-bold">Informações</h2>
                <p>
                    Este é o formulário de cadastro e edição do cliente, para a consulta ou alteração de informações.
                    Ele é dividido em duas seções: <b>Cadastro</b> e <b>Veículos.</b>
                </p>
                <br>
                <p>
                    Ao cadastrar um cliente novo, somente a seção de <b>Cadastro</b> se encontra disponível, sendo que a outra é bloqueada.
                    A seção de <b>Veículos</b> é disponibilizada quando um cliente existente é acessado, indicado pelo aviso:
                </p>
                <br>
                <div class="is-flex is-flex-vcenter" style="justify-content: center;">
                    <b-icon icon="alert-circle" type="is-danger"/>
                    <span class="has-text-danger" style="margin-left: 0.5rem;">A seção de veículos estará disponível após completar o cadastro</span>
                </div>
                <hr>
                <h2 class="is-flex is-flex-vcenter subtitle has-text-weight-bold"><b-icon style="margin-right: 0.5rem;" icon="information" type="is-primary"/>Cadastro</h2>
                <p>
                    Nesta seção se encontra os dados pessoais do cliente. Preencha os campos de acordo com a intitulação encontrada acima de cada um deles.
                </p>
                <br>
                <p>
                    O seletor <b>Selecione o tipo de pessoa</b> indica no cadastro se a pessoa sendo cadastrada é física ou jurídica e também
                    muda, adiciona ou remove alguns campos. Clique no tipo de pessoa necessário para alterar o cadastro.
                </p>
                <br>
                <p>Quando se trata de <b>Pessoa Física</b>, os campos <b>Nome</b>, <b>CPF</b> e <b>RG</b> estão presentes.</p>
                <br>
                <p>
                    Para <b>Pessoa Jurídica</b>, é adicionado o campo <b>Razão Social</b> e os campos <b>Nome Fantasia</b>, 
                    <b>CNPJ</b> e <b>Inscrição</b> estão presentes.
                </p>
                <br>
                <p>
                    Nos campos <b>CPF</b>, <b>CNPJ</b>, <b>Telefone</b>, <b>Celular</b> e <b>CEP</b> a pontuação é adiciona automaticamente,
                    bastando digitar apenas os números.
                </p>
                <hr>
                <h2 class="is-flex is-flex-vcenter subtitle has-text-weight-bold"><b-icon style="margin-right: 0.5rem;" icon="car" type="is-primary"/>Veículos</h2>
                <p>
                    Nesta seção se encontra os veículos que o cliente possui. Esta seção é composta por um formulário que permite adicionar ou alterar um veículo.
                    Abaixo dele, encontra-se uma tabela para mostrar todos os veículos deste cliente.
                </p>
                <br>
                <p>
                    As informações que existtem para preenchimento são <b>Marca</b>, <b>Modelo</b>, <b>Cor</b> e <b>Placa</b>.
                    Existe um banco de informações para os campos vindos da tabela FIPE, que sugere nomes conforme o campo é preenchido. 
                    <b>Não é obrigatório selecionar uma sugestão, pode-se digitar um nome que não existe e ele será válido.</b>
                </p>
                <br>
                <p>
                    Utilize o botão <b-button icon-left="plus" type="is-primary" style="transform: translateY(-5px)">Salvar</b-button> para criar um novo veículo ou guardar as alterações
                    do veículo atual.
                </p>
                <br>
                <p>
                    Utilize o botão <b-button icon-left="close" type="is-light" style="transform: translateY(-5px)">Cancelar</b-button> para apagar todas as informações do formulário.
                </p>
                <br>
                <p>
                    Para alterar um dos veículos, use o botão <b-button icon-left="pencil" type="is-light" style="transform: translateY(-5px)">Editar</b-button> e as informações
                    aparecerão no formulário acima e os dados salvos afetarão aquele registro.
                    A linha que está em edição atualmente é realçada na tabela para conferência.
                    Se for salvo um veículo e não existe um veículo em edição (não há uma linha realçada), um novo veículo será adicionado.
                </p>
                <br>
                <p>
                    O botão <b-button icon-left="delete" type="is-danger" style="transform: translateY(-5px)">Excluir</b-button> irá remover o veículo deste cliente.
                </p>
                <br>
                <p class="has-text-weight-bold has-text-danger">
                    ATENÇÃO! O veículo não pode ser removido caso ele já tenha sido utilizado em uma Ordem de Serviço. 
                    Remova todas as Ordens de Serviço que contém este veículo para poder removê-lo.
                </p>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Salvando Informações</h2>
                <p>
                    No canto superior direito, utilize o botão <b-button type="is-primary" style="transform: translateY(-5px)">Salvar</b-button>
                    para guardar os dados do cliente. Caso existam erros no cadastro que o impeçam de ser salvo, um aviso será mostrado enumerando-os. 
                </p>
                <br>
                <p>
                    O botão <b-button type="is-danger" style="transform: translateY(-5px)">Voltar</b-button> irá voltar para a página anterior, porém
                    as modificações serão perdidas. Uma caixa de diálogo irá perguntar se quer continuar.
                </p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>