<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Início</p>
        </header>
        <section class="modal-card-body">
            <h2 class="subtitle has-text-weight-bold">Cadastros</h2>
            <div class="has-text-justified">
                <p>Os botões cinzas permitem entrar nas telas do sistema, separados por categoria.</p>
                <br>
                <p>
                    Os botões <b>PESQUISAR</b> são responsáveis pelas telas que permitem realizar uma procura
                    por um cadastro específico e os botões <b>CADASTRAR</b> para abrir um novo formulário para iniciar um novo cadastro.
                </p>
            </div>
            <hr>
            <h2 class="subtitle has-text-weight-bold">Indicadores</h2>
            <div class="has-text-justified">
                <p>
                    Os indicadores são paineis informativos para mostrar algumas estatísticas do sistema. São eles:
                    <br>
                    <ul style="list-style-type:disc; margin-left: 1rem; margin-top: 1rem;">
                        <li><b>Clientes Cadastrados:</b> Mostra a quantidade de clientes cadastrados na aplicação;</li>
                        <li><b>Veículos Cadastrados:</b> Mostra a quantidade de veículos cadastrados na aplicação;</li>
                        <li><b>O.S. Hoje:</b> Informa quantas Ordens de Serviço foram criadas no dia de hoje;</li>
                        <li><b>O.S. Este Mês:</b> Informa a quantidade de Ordens de Serviço criadas no mês atual.</li>
                    </ul>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>