<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Pesquisa de Ordens de Serviço</p>
        </header>
        <section class="modal-card-body">
            <div class="has-text-justified">
                <h2 class="subtitle has-text-weight-bold">Informações</h2>
                <p>
                    Esta tela serve para pesquisar e acessar todas as ordens de serviço (OS) criadas na aplicação.
                    Quatro informações estão disponíveis para verificação rápida de cada registro.
                </p>
                <br>
                <p>
                    Estas informações são: o código, o status da ordem de serviço — que podem ser 
                    <b-tag type="is-info">ABERTO</b-tag>, <b-tag type="is-warning">FECHADO</b-tag> ou <b-tag type="is-success">PAGO</b-tag> —, 
                    a data em que foi criada a OS e o cliente associado a ela.
                </p>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Navegando Entre Páginas</h2>
                <p>
                    No início, todas as OS são exibidos na listagem, separados por grupos de 20 em cada página.
                    Caso haja mais de 20 registros, o seletor de páginas é exibido na parte inferior da tela.
                    Utilize os botões mostrados abaixo para navegar entre as páginas disponíveis no cadastro:
                </p>
                <div class="has-text-centered" style="margin-top: 0.5rem;">
                    <b-button><b-icon icon="chevron-left"/></b-button>
                    <b-button><b-icon icon="chevron-right"/></b-button>
                </div>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Pesquisa</h2>
                <p>
                    Para realizar a pesquisa, escreva na barra de pesquisa superior uma das seguintes informações:
                    O código, informações do cliente (nome, razão social, telefone, celular, CNPJ ou CPF) ou 
                    informações do veículo associado a OS (marca, modelo e placa).
                    <br>
                    O banco de dados será consultado e apenas os resultados correspondentes a pesquisa serão exibidos.
                    A barra de pesquisa é a seguinte:
                </p>
                <b-input placeholder="Faça uma pesquisa..." type="search" icon="magnify" readonly style="margin-top: 1rem;"/>
                <hr>
                <b-button icon-left="pencil" type="is-light">Editar</b-button>
                <p style="margin-top: 1.5rem;">
                    O botão acima é para mostrar o formulário de edição da ordem de serviço da linha em que ele se encontra.
                </p>
                <hr>
                <b-button icon-left="delete" type="is-danger">Excluir</b-button>
                <p style="margin-top: 1.5rem;">
                    O botão acima irá remover a ordem de serviço do banco de dados da aplicação
                </p>
                <br>
                <p class="has-text-weight-bold has-text-danger">
                    ATENÇÃO! Ao remover o registro, ele não pode ser mais recuperado.
                </p>
                <hr>
                <b-button type="is-primary" icon-left="plus">Nova Ordem de Serviço</b-button>
                <p style="margin-top: 1.5rem;">Use este botão para abrir o formulário para criar uma nova ordem de serviço.</p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>