<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Pesquisa de Clientes</p>
        </header>
        <section class="modal-card-body">
            <div class="has-text-justified">
                <h2 class="subtitle has-text-weight-bold">Informações</h2>
                <p>
                    Esta tela serve para pesquisar e acessar os cadastros de todos os clientes disponíveis no sistema.
                    Quatro informações estão disponíveis para verificação rápida de cada registro.
                </p>
                <br>
                <p>
                    Estas informações são: o tipo do cliente — que pode ser 
                    <b-tag type="is-primary">FÍSICA</b-tag> ou <b-tag type="is-secondary">JURÍDICA</b-tag> —, o nome,
                    o telefone e o CPF ou CNPJ, de acordo com o tipo de pessoa.
                </p>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Navegando Entre Páginas</h2>
                <p>
                    No início, todos os clientes são exibidos na listagem, separados por grupos de 20 em cada página.
                    Caso haja mais de 20 registros, o seletor de páginas é exibido na parte inferior da tela.
                    Utilize os botões mostrados abaixo para navegar entre as páginas disponíveis no cadastro:
                </p>
                <div class="has-text-centered" style="margin-top: 0.5rem;">
                    <b-button><b-icon icon="chevron-left"/></b-button>
                    <b-button><b-icon icon="chevron-right"/></b-button>
                </div>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Pesquisa</h2>
                <p>
                    Para realizar a pesquisa, escreva na barra de pesquisa superior uma das seguintes informações:
                    O nome, a razão social, CNPJ ou CPF (independente de pontuação) ou o telefone.
                    <br>
                    O banco de dados será consultado e apenas os resultados correspondentes a pesquisa serão exibidos.
                    A barra de pesquisa é a seguinte:
                </p>
                <b-input placeholder="Faça uma pesquisa..." type="search" icon="magnify" readonly style="margin-top: 1rem;"/>
                <hr>
                <b-button icon-left="pencil" type="is-light">Editar</b-button>
                <p style="margin-top: 1.5rem;">
                    Para mostrar o formulário para edição do cadastro de um cliente, clique sobre este botão em sua linha.
                </p>
                <hr>
                <b-button icon-left="delete" type="is-danger">Excluir</b-button>
                <p style="margin-top: 1.5rem;">
                    O botão acima irá remover o cliente e todos os seus dados da aplicação.
                </p>
                <br>
                <p class="has-text-weight-bold has-text-danger">
                    ATENÇÃO! Ao remover o cadastro, também serão removidos todos os dados associados — veículos e ordens de serviços —
                    e eles não poderão ser recuperados.
                </p>
                <hr>
                <b-button type="is-primary" icon-left="plus">Novo Cliente</b-button>
                <p style="margin-top: 1.5rem;">Use este botão para abrir o formulário para realizar o cadastro de um novo cliente.</p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>