<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-weight-bold has-text-primary">Ajuda: Pesquisa de Veículos</p>
        </header>
        <section class="modal-card-body">
            <div class="has-text-justified">
                <h2 class="subtitle has-text-weight-bold">Informações</h2>
                <p>
                    Esta tela serve para pesquisar todos os veículos que existem e acessar o formulário de
                    cadastro do cliente que está associado a ele.
                </p>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Navegando Entre Páginas</h2>
                <p>
                    No início, todos os veículos são exibidos na listagem, separados por grupos de 20 em cada página.
                    Caso haja mais de 20 registros, o seletor de páginas é exibido na parte inferior da tela.
                    Utilize os botões mostrados abaixo para navegar entre as páginas disponíveis no cadastro:
                </p>
                <div class="has-text-centered" style="margin-top: 0.5rem;">
                    <b-button><b-icon icon="chevron-left"/></b-button>
                    <b-button><b-icon icon="chevron-right"/></b-button>
                </div>
                <hr>
                <h2 class="subtitle has-text-weight-bold">Pesquisa</h2>
                <p>
                    Para realizar a pesquisa, escreva na barra de pesquisa superior uma das seguintes informações:
                    O nome do cliente associado ao veículo, a marca, o modelo, a cor ou a placa (com ou sem traços).
                    <br>
                    O banco de dados será consultado e apenas os resultados correspondentes a pesquisa serão exibidos.
                    A barra de pesquisa é a seguinte:
                </p>
                <b-input placeholder="Faça uma pesquisa..." type="search" icon="magnify" readonly style="margin-top: 1rem;"/>
                <hr>
                <b-button icon-left="magnify" type="is-light">Ver Cliente</b-button>
                <p style="margin-top: 1.5rem;">
                    O botão acima irá abrir o formulário de cadastro de cliente com as informações do cliente associado a este veículo.
                    O veículo em questão então pode ser consultado na aba de veículos.
                </p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-centered">
            <div class="is-flex is-100 is-flex-hend">
                <b-button type="is-light" @click="$parent.close()">Fechar</b-button>
            </div>
        </footer>
    </div>
</template>