<template>
    <div>
        <div class="logo-holder" @click="openFile">
            <div class="no-logo" v-if="!value">
                <span class="has-text-centered">
                    <b-icon icon="image-off" size="is-large" style="width: 100%;"/>
                    <span>Sem Logotipo</span>
                </span>
            </div>
            <img v-else :src="value" style="max-height: 160px;"/>
            <input ref="fileinput" type="file" accept="image/*" @change="handleNewPic" style="display: none"/>
        </div>
        <b-modal
            :active="cropping"
        >
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Recortar Imagem</p>
                </header>
                <section class="modal-card-body">
                    <b-loading
                        :is-full-page="false"
                        :active="loading"
                    />
                    <vue-cropper
                        v-if="!loading"
                        ref="cropper"
                        :src="imgsrc"
                        :img-style="style"
                        :view-mode="1"
                        :aspect-ratio="1"
                    />
                </section>
                <footer class="modal-card-foot has-text-centered">
                    <div class="is-flex is-100 is-flex-hend">
                        <b-button type="is-primary" @click="confirmCrop">Confirmar</b-button>
                        <b-button type="is-light" @click="cropping = false">Fechar</b-button>
                    </div>
                </footer>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import VueCropper from 'vue-cropperjs';
    import 'cropperjs/dist/cropper.css';

    export default {
        props: {
            value: {
                type: String,
                default: ''
            },
        },
        data() {
            return {
                reader: new FileReader(),
                imgsrc: '',
                croppedimg: '',
                cropping: false,
                style: {
                    maxHeight: 'calc(100vh - 300px)'
                },
                loading: false
            }
        },
        created () {
            this.reader.onload = this.handleFileRead;
            this.reader.onerror = this.handleFileError;
        },
        components: {
            VueCropper,
        },
        methods: {
            openFile() {
                this.$refs.fileinput.click();
            },
            handleNewPic(e) {
                const f = e.target.files[0];

                if (f) {
                    this.loading = true;
                    this.cropping = true;
                    this.reader.readAsDataURL(f);
                }
            },
            handleFileRead(e) {
                this.imgsrc = e.target.result;
                this.loading = false;
            },
            handleFileError(e) {
                this.cropping = false;
                this.loading = false;
            },
            confirmCrop() {
                this.$emit('input', this.$refs.cropper.getCroppedCanvas().toDataURL());
                this.cropping = false;
            }
        },
    }
</script>

<style lang="scss" scoped>
.logo-holder {
    border: 1px solid $primary;
    height: 160px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .no-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .preview {
        height: 160px;
        width: 160px;
    }
}
</style>