<template>
    <div 
        class="single-select" 
        ref="rootEl"
        :style="`height: ${selectHeight}px`"
        :class="{ 'ss-disabled': disabled }"
    >
        <div class="select-search" :class="{'ss-unviewable': !(searchable && open)}" @click="toggleDropdown" v-if="!disabled">
            <input 
                ref="searchInput" 
                maxlength="255"
                :value="query"
                @input="debouncedSearch" 
                @focus="openDropdown" 
                @keydown="closeDropdownOnTab" 
                @keyup.down="movePointer(true)"
                @keyup.up="movePointer(false)"
                @keyup.enter="selectFromKeyboard"
            />
        </div>
        <div class="selected-value" v-show="!(searchable && open)" @click="toggleDropdown">
            <span class="placeholder-value" v-if="!value">{{ placeholder }}</span>
            <slot name="selected" v-bind:option="value" v-else>
                <span>{{ getLabel(value) }}</span>
            </slot>
        </div>
        <div class="icons">
            <b-icon 
                v-if="loading" 
                class="loading-icon" 
                icon="loading" 
                type="is-gray" 
                custom-class="load-spin"
            />
            <b-icon
                v-if="open ? query : (value && !disabled && clearable)"
                class="control-icons"
                icon="close" 
                type="is-gray" 
                size="is-small"
                @click.native="remove"
            />
            <b-icon 
                class="control-icons" 
                :icon="open ? 'chevron-up' : 'chevron-down'"    
                type="is-gray" 
                @click.native="toggleDropdown"
            />
        </div>
        <transition name="dropdown-fade">
            <div 
                class="ss-drop"
                :class="{ 'down': !dropup, 'up': dropup }"
                ref="dropdown" 
                v-if="open && !loading" 
                :style="`max-height: ${dropdownMaxHeight}px; ${dropup ? 'bottom: ' : 'top: '}${selectHeight - 3}px`"
            >
                <div 
                    class="ss-dropdown-options"
                    :class="{ 'selected': checkIfSelected(o), 'ss-hover': pointer === i }"
                    v-for="(o, i) in (searchable ? filtered : options)" 
                    :key="i"
                    @click="selectOption(o)"
                    @mouseover="pointer = i"
                    :title="tooltip ? getLabel(o) : null"
                >
                    <slot name="option" v-bind:option="o">
                        <span>{{ getLabel(o) }}</span>
                    </slot>
                </div>
            </div>
        </transition>
        <transition name="dropdown-fade">
            <div 
                class="ss-drop" 
                :class="{ 'down': !dropup, 'up': dropup }" 
                v-if="(searchable ? (filtered && !filtered.length) : (options && !options.length)) && open && !loading"
                :style="`${dropup ? 'bottom: ' : 'top: '}${selectHeight - 3}px`"
            >
                <div class="ss-no-options">
                    Não há resultados
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {debounce} from "../../services/utils/utils";

export default {
    props: {
        value: {
            type: [Object, String],
            default: null
        },
        options: {
            type: Array,
            default: () => []
        },
        label: {
            type: String,
            default: "label"
        },
        disabled: {
            type: Boolean,
            default: false
        },
        searchable: {
            type: Boolean,
            default: false
        },
        remoteSearch: {
            type: Boolean,
            default: false
        },
        clearable: {
            type: Boolean,
            default: false
        },
        closeOnSelect: {
            type: Boolean,
            default: true
        },
        placeholder: {
            type: String,
            default: ''
        },
        dropdownMaxHeight: {
            type: Number,
            default: 200
        },
        selectHeight: {
            type: Number,
            default: 36
        },
        dropup: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        tooltip: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            pointer: -1,
            open: false,
            query: '',
            filteredOpts: []
        }
    },
    created() {
        window.addEventListener("click", this.clickEvt);
        this.debouncedSearch = debounce(this.emitSearch, 500);
    },
    mounted() {
        this.emitSearch('');
    },
    beforeDestroy() {
        window.removeEventListener("click", this.clickEvt);
    },
    methods: {
        movePointer(inc) {
            if (inc) {
                if (this.pointer < (this.searchable ? this.filtered.length : this.options.length) - 1) {
                    this.pointer++;
                }
            } else {
                if (this.pointer > 0) {
                    this.pointer--;
                }
            }
        },
        clickEvt(e) {
            let path = e.path || e.composedPath();

            if (this.open && !path.includes(this.$refs.rootEl)) {
                this.open = false;
                this.$emit('blur');
            }
        },
        selectOption(o) {
            if (this.closeOnSelect) {
                this.open = false;
                this.query = '';
                this.$emit('search', '');
            }

            this.$emit('input', o);
        },
        selectFromKeyboard() {
            if (this.pointer < this.searchable ? this.filtered.length : this.options.length) {
                this.selectOption(this.searchable ? this.filtered[this.pointer] : this.options[this.pointer]);
            }
        },
        remove() {
            if (!this.open) {
                if (this.closeOnSelect) {
                    this.open = false;
                }
    
                this.$emit('input', null);
            } else {
                this.query = '';
                this.$emit('search', '');
            }
        },
        toggleDropdown() {
            if (!this.disabled) {
                this.open = !this.open;

                if (this.open) {
                    this.$nextTick(_ => {
                        if (this.$refs.searchInput) {
                            this.$refs.searchInput.focus();
                        }
                    });
                    if (this.pointer < 0) this.pointer = 0;
                }

                if (!this.open) {
                    this.$emit('blur');
                }
            }
        },
        openDropdown() {
            if (!this.disabled) {
                this.open = true;
                this.$nextTick(_ => {
                    if (this.$refs.searchInput) {
                        this.$refs.searchInput.focus();
                    }
                });
                if (this.pointer < 0) this.pointer = 0;
                this.$emit('focus');
            }
        },
        closeDropdownOnTab(e) {
            if (e.keyCode == 9) {
                this.open = false;
                this.$emit('blur');
            }
        },
        getLabel(o) {
            if (typeof o === 'string' || o == null) {
                return o;
            } else if (typeof o === 'object') {
                if (o[this.label] != undefined) {
                    return o[this.label];
                } else {
                    console.warn(`[SELECT] A propriedade [${this.label}] não existe no objeto de opção!`);
                    return '';
                }
            }
        },
        checkIfSelected(o) {
            if (typeof o == 'string' && typeof this.value == 'string') {
                return (o == this.value);
            } else if (typeof o == 'object' && typeof this.value == 'object') {
                return (JSON.stringify(o) == JSON.stringify(this.value));
            } else {
                return false;
            }
        },
        emitSearch(e) {
            if (this.searchable && this.open) {
                let val = e.target ? e.target.value : '';
                this.query = val;
                this.pointer = -1;
                this.$emit('search', val);
            }
        },
        bindValue(o) {
            if (typeof o == 'string') {
                return o;
            }
        }
    },
    computed: {
        filtered() {
            if (this.searchable && !this.remoteSearch) {
                return this.options.filter(o => {
                    let q = this.query ? this.query.toLocaleLowerCase() : '';
    
                    if (typeof o == 'string') {
                        return o.toLocaleLowerCase().includes(q);
                    } else {
                        if (!o[this.label]) {
                            logger.warn(`[SELECT] A propriedade ${this.label} não existe dentro do objeto de opção.`);
                            return false;
                        } else {
                            return o[this.label].toLocaleLowerCase().includes(q);
                        }
                    }
                }); 
            } else {
                return this.options;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.single-select {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $grey-lighter;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	border-radius: 4px;
    background: $white;

    &:hover {
        border: 1px solid $grey-light;
    }

    &:focus-within {
        border-color: $primary;
        box-shadow: 0 0 0 0.125em rgba($primary, 0.25);
    }

    .selected-value {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        padding: calc(0.375em - 1px) 0 calc(0.375em - 1px) calc(0.625em - 1px);
        color: $grey;
        overflow: hidden;
        height: 100%;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.placeholder-value {
                opacity: 0.5;
            }
        }
    }

	.select-search {
		padding: 0.25rem;
		background-color: transparent;
        width: 100%;
        flex-grow: 1;
        
        input {
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
            color: $grey;

            &:focus {
                box-shadow: none;
            }
        }

        // Esconde o input mas ainda permite que ele seja acessível por tab
        &.ss-unviewable {
            width: 0;
            padding: 0;

            input {
                color: transparent;
            }
        }
	}

	.icons {
		display: flex;
		align-items: center;
        justify-content: center;
        padding-right: 0.25rem;
        
        .control-icons {
            cursor: pointer;
            width: 20px;
            height: 100%;

            &:hover {
                color: $primary !important;
            }
        }

        .loading-icon {
            width: 20px;
            height: 100%;
            margin-right: 0.25rem;
            margin-left: 0.25rem;
            animation-name: spin;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

    }
    
    .ss-drop {
        z-index: 10;
        position: absolute;
        width: calc(100% + 2px);
        left: -1px;
        color:          $grey;
        border-right:   1px solid $grey-lighter;
        border-left:    1px solid $grey-lighter;
        background:     $white;
        overflow-y: auto;

        &.down {
            border-top:     1px solid $white;
            border-bottom:  1px solid $grey-lighter;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        &.up {
            border-top:     1px solid $grey-lighter;
            border-bottom:  1px solid $white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.1);
        }

        .ss-dropdown-options {
            padding: 0.25rem 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.ss-hover {
                cursor: pointer;
                background-color: $primary-light;
                color: $white;
            }

            &.selected {
                background-color: $primary;
                color: $white;
            }
        }

        .ss-no-options {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
        }
    }

    .dropdown-fade-enter-active, .dropdown-fade-leave-active {
        transition: opacity .2s ease;
    }

    .dropdown-fade-enter, .dropdown-fade-leave-to {
        opacity: 0;
    }

    &.ss-disabled {
        pointer-events: none;
        cursor: not-allowed;
        background: whitesmoke;
        box-shadow: none;
        border: none;
        
        span.placeholder-value {
            opacity: 0.3;
        }
    }
}
</style>