<template>
    <section class="section center-section">
        <div class="container" style="min-height: calc(100vh - 68px);">
            <div class="columns">
                <div class="column">
                    <h1 class="title">{{ id ? 'Editar Cliente' : 'Novo Cliente' }}</h1>
                    <h2 class="subtitle">{{ id ? cliente.nome : 'Preencha as informações abaixo' }}</h2>
                    <div class="is-flex is-flex-vcenter" v-if="!id">
                        <b-icon icon="alert-circle" type="is-danger"/>
                        <span class="has-text-danger" style="margin-left: 0.5rem;">A seção de veículos estará disponível após completar o cadastro</span>
                    </div>
                </div>
                <div class="column is-narrow">
                    <b-button type="is-danger" @click="promptVoltar" :disabled="isBusy">Voltar</b-button>
                    <b-button type="is-primary" @click="save" v-if="tab == 0">Salvar</b-button>
                </div>
            </div>

            <b-loading is-full-page :active="isBusy"/>

            <b-tabs v-model="tab" type="is-boxed" position="is-centered" :disabled="isBusy">
                <!-- ABA CADASTRO -->
                <b-tab-item label="Cadastro" icon="information">
                    <!-- TIPO DE PESSOA -->
                    <div class="columns" style="margin-bottom: 0">
                        <div class="column is-flex is-flex-vcenter">
                            <label class="label">Selecione o tipo de pessoa</label>
                        </div>
                        <div class="column is-flex is-flex-hend">
                            <b-field>
                                <b-radio-button 
                                    v-model="cliente.tipo"
                                    native-value="FISICA"
                                    :disabled="isBusy"
                                >
                                    <b-icon icon="check" v-if="cliente.tipo == 'FISICA'"/>
                                    Pessoa Física
                                </b-radio-button>

                                <b-radio-button 
                                    v-model="cliente.tipo"
                                    native-value="JURIDICA"
                                    :disabled="isBusy"
                                >
                                    <b-icon icon="check" v-if="cliente.tipo == 'JURIDICA'"/>
                                    Pessoa Jurídica
                                </b-radio-button>
                            </b-field>
                        </div>
                    </div>
                    
                    <!-- NOME E RAZÃO SOCIAL -->
                    <div class="columns">
                        <div class="column">
                            <b-field :label="cliente.tipo == 'FISICA' ? 'Nome' : 'Nome Fantasia'" :type="{'is-danger': showInvalid}">
                                <b-input 
                                    v-model.trim="cliente.nome"
                                    :disabled="isBusy"
                                    :placeholder="`Exemplo: ${cliente.tipo == 'JURIDICA' ? 'Atacadão Autopeças' : 'Maria Sampaio da Silva'}`"
                                />
                            </b-field>
                        </div>
                        <div class="column is-half" v-if="cliente.tipo == 'JURIDICA'">
                            <b-field label="Razão Social">
                                <b-input 
                                    v-model.trim="cliente.rsocial"
                                    placeholder="Exemplo: Distribuidora Atacadão Ltda."
                                    :disabled="isBusy"
                                />
                            </b-field>
                        </div>
                    </div>

                    <!-- CNPJ, CPF, TELEFONE, CELULAR -->
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">{{ cliente.tipo == 'JURIDICA' ? 'CNPJ' : 'CPF' }}</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="cliente.cnpj_cpf"
                                        :mask="cliente.tipo == 'JURIDICA' ? '##.###.###/####-##' : '###.###.###-##'"
                                        :placeholder="cliente.tipo == 'JURIDICA' ? 'Exemplo: 77.352.273/0001-20' : 'Exemplo: 167.865.140-06'"
                                        :masked="false"
                                        :disabled="isBusy"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <b-field :label="cliente.tipo == 'JURIDICA' ? 'Inscrição Estadual' : 'RG'">
                                <b-input 
                                    v-model.trim="cliente.rg_ie"
                                    :disabled="isBusy"
                                    :placeholder="cliente.tipo == 'JURIDICA' ? 'Exemplo: 372.91662-18' : 'Exemplo: 42.917.869-4'"
                                />
                            </b-field>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Telefone</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="cliente.telefone"
                                        placeholder="Exemplo: (45) 3038-2222"
                                        :mask="['(##) ####-####', '(##) #####-####']"
                                        :masked="false"
                                        :disabled="isBusy"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Celular</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="cliente.celular"
                                        placeholder="Exemplo: (45) 98820-3030"
                                        :mask="['(##) ####-####', '(##) #####-####']"
                                        :masked="false"
                                        :disabled="isBusy"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ENDEREÇO, E-MAIL, CIDADE, ESTADO -->
                    <div class="columns is-multiline">
                        <div class="column is-half">
                            <b-field label="Endereço">
                                <b-input 
                                    v-model.trim="cliente.endereco"
                                    placeholder="Exemplo: Rua Teodoro Nardi, 960 - Sala 2"
                                    :disabled="isBusy"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <b-field label="Bairro">
                                <b-input 
                                    v-model.trim="cliente.bairro"
                                    placeholder="Exemplo: Pioneiros Catarinenses"
                                    :disabled="isBusy"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">CEP</label>
                                <div class="control is-clearfix">
                                    <the-mask 
                                        type="text" 
                                        autocomplete="on" 
                                        class="input"
                                        v-model="cliente.cep"
                                        mask="##.###-###"
                                        placeholder="Exemplo: 85.805-560"
                                        :masked="false"
                                        :disabled="isBusy"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="column is-half">
                            <b-field label="E-mail">
                                <b-input 
                                    v-model.trim="cliente.email"
                                    placeholder="Exemplo: mariadb@gmail.com"
                                    :disabled="isBusy"
                                />
                            </b-field>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">Estado</label>
                                <c-select
                                    label="nome"
                                    v-model="estado"
                                    placeholder="Selecione um Estado"
                                    :options="estados"
                                    :disabled="isBusy"
                                    @input="updateEstado"
                                    @search="findEstado"
                                    searchable remote-search dropup
                                >
                                    <template #option="{ option }">
                                        {{ option.sigla }} - {{ option.nome }}
                                    </template>
                                    <template #selected="{ option }">
                                        {{ option.sigla }} - {{ option.nome }}
                                    </template>
                                </c-select>
                            </div>
                        </div>
                        <div class="column is-one-quarter">
                            <div class="field">
                                <label class="label">Cidade</label>
                                <c-select
                                    label="nome"
                                    v-model="cliente.cidade"
                                    :placeholder="!cidades.length ? 'Primeiro, selecione um estado' : 'Selecione uma cidade'"
                                    :options="cidades"
                                    :disabled="!cidades.length || isBusy"
                                    searchable dropup
                                />
                            </div>
                        </div>
                    </div>
                </b-tab-item>

                <!-- ABA VEÍCULOS -->
                <b-tab-item label="Veículos" icon="car" :disabled="!cliente._id">
                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <b-field label="Marca">
                                <b-autocomplete
                                    v-model.trim="veiculo.marca"
                                    placeholder="Exemplo: Volkswagen"
                                    :data="marcaSuggestions"
                                    :disabled="isBusy"
                                    @typing="getMarcas"
                                    @blur="fetchModelos"
                                    @select="fetchModelos"
                                    open-on-focus
                                />
                            </b-field>
                        </div>

                        <div class="column is-8">
                            <b-field label="Modelo">
                                <b-autocomplete
                                    v-model.trim="veiculo.modelo"
                                    placeholder="Exemplo: Gol"
                                    :data="modeloSuggestions"
                                    :disabled="isBusy"
                                    @typing="getModelos"
                                    open-on-focus
                                />
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="Cor">
                                <b-autocomplete
                                    v-model.trim="veiculo.cor"
                                    placeholder="Exemplo: Branco"
                                    :data="filteredColors"
                                    :disabled="isBusy"
                                    open-on-focus
                                />
                            </b-field>
                        </div>
                        
                        <div class="column is-4">
                            <label class="label">Placa</label>
                            <div class="control is-clearfix">
                                <the-mask 
                                    type="text" 
                                    autocomplete="on" 
                                    class="input"
                                    v-model.trim="veiculo.placa"
                                    placeholder="Exemplo: AAA-0001"
                                    :mask="'AAA-#U##'"
                                    :tokens="tokens"
                                    :masked="false"
                                    :disabled="isBusy"
                                    :key="pkey"
                                />
                            </div>
                        </div>

                        <div class="column is-flex is-flex-vbottom is-narrow">
                            <div class="buttons has-addons is-centered">
                                <b-button type="is-primary" :icon-left="veiculo.id ? 'floppy' : 'plus'" :disabled="!allowSaveVeiculo || isBusy" @click="saveVeiculo">Salvar</b-button>
                                <b-button type="is-light" icon-left="close" @click="cleanVeiculo" :disabled="!allowSaveVeiculo || isBusy">Cancelar</b-button>
                            </div>
                        </div>
                    </div>

                    <b-table
                        :data="cliente.veiculos"
                        :key="vkey"
                        :row-class="(row, index) => veiculoEditingIdx == index && 'has-background-grey-lighter has-text-weight-bold'"
                        class="d-table-vcenter"
                    >
                        <template slot="empty">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered">
                                    <p><b-icon icon="car-off" size="is-large"></b-icon></p>
                                    <p>Não existe veículos para este cliente</p>
                                    <small>Cadastre um veículo novo usando o formulário acima</small>
                                </div>
                            </section>
                        </template>

                        <template slot-scope="props">
                            <b-table-column field="marca" label="Marca" sortable>
                                {{ props.row.marca }}
                            </b-table-column>

                            <b-table-column field="modelo" label="Modelo" sortable>
                                {{ props.row.modelo }}
                            </b-table-column>

                            <b-table-column field="cor" label="Cor" centered sortable>
                                {{ props.row.cor }}
                            </b-table-column>

                            <b-table-column field="placa" label="Placa" centered sortable>
                                {{ props.row.placa | formatPlate }}
                            </b-table-column>

                            <b-table-column field="actions" label="Ações" centered width="210">
                                <div class="buttons has-addons is-centered">
                                    <b-button icon-left="pencil" type="is-light" @click="editVeiculo(props)" :disabled="isBusy || veiculoEditingIdx == props.index">Editar</b-button>
                                    <b-button icon-left="delete" type="is-danger" @click="promptDelVeiculo(props)" :disabled="isBusy">Excluir</b-button>
                                </div>
                            </b-table-column>
                        </template>
                    </b-table>
                </b-tab-item>
            </b-tabs>
            
        </div>
    </section>
</template>

<script>
    import fuzzysort from "fuzzysort";
    import estados_cidades from "../../services/lists/estados_cidades";
    import marcas_modelos from "../../services/lists/marcas_modelos";
    import {debounce} from "../../services/utils/utils";

    export default {
        data() {
            return {
                id: this.$route.params.id,
                tab: 0,
                estados: estados_cidades,
                estado: null,
                cidades: [],
                marcas: marcas_modelos.map(e => e.marca),
                marcaSuggestions: [],
                modeloSuggestions: [],
                colors: ["Amarelo", "Azul", "Bordô", "Branco", "Chumbo", "Cinza", "Laranja", "Marrom", "Prata", "Preto", "Roxo", "Verde", "Vermelho", "Vinho"],
                modelos: [],
                cliente: {
                    tipo: 'FISICA',
                    rsocial: '',
                    nome: '',
                    cnpj_cpf: '',
                    rg_ie: '',
                    endereco: '',
                    bairro: '',
                    cep: '',
                    estado: '',
                    cidade: '',
                    telefone: '',
                    celular: '',
                    email: '',
                    veiculos: []
                },
                veiculo: {
                    marca: '',
                    modelo: '',
                    cor: '',
                    placa: ''
                },
                veiculoEditingIdx: -1,
                vkey: Math.random(),
                pkey: Math.random(),
                isBusy: false,
                tokens: {
                    'A': {pattern: /[a-zA-Z]/, transform: v => v.toLocaleUpperCase()},
                    '#': {pattern: /\d/},
                    'U': {
                        pattern: /[0-9a-zA-Z]/,
                        transform: v => v.toLocaleUpperCase()
                    },
                },
                invalid: false,
            }
        },
        created () {
            if (this.id) {
                this.load(this.id);
            } else {
                this.loadDefaultEstadoCidade();
            }
        },
        computed: {
            filteredColors() {
                return this.colors.filter(o => o.toLocaleLowerCase().indexOf(this.veiculo.cor ? this.veiculo.cor.toLocaleLowerCase() : '') > -1);
            },
            allowSaveVeiculo() {
                return !!(this.veiculo.marca || this.veiculo.modelo || this.veiculo.cor || this.veiculo.placa);
            },
            showInvalid() {
                return (!this.cliente.nome && this.invalid);
            }
        },
        methods: {
            promptVoltar() {
                this.$buefy.dialog.confirm({
                    message: `Tem certeza que deseja sair?`,
                    confirmText: 'Sim',
                    cancelText: 'Não',
                    onConfirm: _ => { this.$router.go(-1) }
                });
            },
            load(id) {
                this.isBusy = true;

                this.$service.clientes.get(id)
                    .then(r => {
                        this.cliente = r;
                        if (r.estado) {
                            this.estado = this.estados.find(e => e.sigla == this.cliente.estado);
                            this.cidades = this.estado.cidades;
                        }
                    })
                    .catch(e => {
                        this.$root.error("Houve um problema ao carregar este cliente");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            loadDefaultEstadoCidade() {
                this.$service.settings.getInfoEmpresa()
                    .then(r => {
                        if (r) {
                            let empresa = r.value;

                            if (empresa.estado) {
                                this.estado = this.estados.find(e => e.sigla == empresa.estado);
                                this.cidades = this.estado.cidades;
                            }

                            if (empresa.cidade) {
                                this.cliente.cidade = empresa.cidade;
                            }
                        }
                    })
                    .catch(e => {
                        console.error("Erro ao carregar dados da empresa para o cadastro de cliente", e);
                    });
            },
            findEstado(q) {
                if (q.trim()) {
                    this.estados = fuzzysort.go(q.trim(), estados_cidades, { keys: ['nome', 'sigla'] }).map(e => e.obj);
                } else {
                    this.estados = estados_cidades;
                }
            },
            updateEstado(estado) {
                this.estado = estado;
                this.cliente.estado = estado.sigla;
                this.cliente.cidade = '';
                this.cidades = estado.cidades;
            },
            getMarcas(q) {
                if (q.trim()) {
                    this.marcaSuggestions = fuzzysort.go(q.trim(), this.marcas).map(e => e.target);
                } else {
                    this.marcaSuggestions = this.marcas;
                }
            },
            fetchModelos: debounce(function(option) {
                let marca_search = this.veiculo.marca;
                
                if (typeof option == 'string') {
                    marca_search = option;
                }

                let marca_selected = marcas_modelos.find(e => e.marca.toLocaleLowerCase() == marca_search.toLocaleLowerCase());
                
                if (marca_selected) {
                    this.modelos = marca_selected.modelos;
                    this.modeloSuggestions = this.modelos;
                } else {
                    this.modelos = [];
                    this.modeloSuggestions = [];
                }
            }, 200),
            getModelos(q) {
                if (q.trim()) {
                    this.modeloSuggestions = fuzzysort.go(q.trim(), this.modelos).map(e => e.target);
                } else {
                    this.modeloSuggestions = this.modelos;
                }
            },
            editVeiculo(p) {
                this.veiculo = p.row;
                this.veiculoEditingIdx = p.index;
                this.pkey = Math.random();
            },
            promptDelVeiculo(line) {
                let v = line.row;

                this.$buefy.dialog.confirm({
                    message: `Tem certeza que deseja excluir ${(v.placa || v.modelo) ? `<b>${v.placa || v.modelo}</b>` : 'este veículo'}?`,
                    onConfirm: () => { this.delVeiculo(line) }
                });
            },
            delVeiculo(line) {
                let v = line.row;

                this.isBusy = true;

                this.$service.veiculos.remove(v._id)
                    .then(this.handleDelVeiculoSuccess)
                    .then(() => {
                        if (this.veiculoEditingIdx == line.index) {
                            this.cleanVeiculo();
                        }
                    })
                    .catch(this.handleDelVeiculoError)
                    .finally(this.disableLoading);
            },
            cleanVeiculo() {
                this.veiculo = {marca: '', modelo: '', cor: '', placa: ''};
                this.veiculoEditingIdx = -1;
            },
            save() {
                if (this.validate()) {
                    this.isBusy = true;
                    
                    if (this.id) {
                        this.$service.clientes.update(this.id, this.cliente)
                            .then(this.handleSaveSuccess)
                            .catch(this.handleSaveError)
                            .finally(this.disableLoading);
                    } else {
                        this.$service.clientes.insert(this.cliente)
                            .then(this.handleSaveSuccess)
                            .catch(this.handleSaveError)
                            .finally(this.disableLoading);
                    }
                }
            },
            validate() {
                let valid = true;

                if (!this.cliente.nome) {
                    valid = false;
                    this.$root.alert('is-danger', null, false, null, "Obrigatório preencher o nome!")
                }

                this.invalid = !valid;
                return valid;
            },
            saveVeiculo() {
                this.veiculo.id_cliente = this.id;

                this.isBusy = true;

                if (this.veiculo._id) {
                    this.$service.veiculos.update(this.veiculo._id, this.veiculo)
                        .then(this.handleSaveVeiculoSuccess)
                        .catch(this.handleSaveVeiculoError)
                        .finally(this.disableLoading);
                } else {
                    this.$service.veiculos.insert(this.veiculo)
                        .then(this.handleSaveVeiculoSuccess)
                        .catch(this.handleSaveVeiculoError)
                        .finally(this.disableLoading);
                }
            },
            handleSaveSuccess(r) {
                this.$root.alert('is-success', null, false, null, "Cliente salvo com sucesso!")
                    .then(_ => {
                        if (r._id) {
                            this.$router.push({ name: 'edit-cliente', params: { id: r._id } });
                        }
                    });
            },
            handleSaveError(e) {
                console.error("Erro ao salvar cliente.", e);

                if (e.errorType == 'uniqueViolated') {
                    this.$root.error("Já existe um cliente com este CPF/CNPJ!");    
                } else {
                    this.$root.error("Ocorreu um problema ao salvar o cliente.");
                }

                this.loadVeiculos();
            },
            handleSaveVeiculoSuccess(r) {
                this.$root.success("Veículo salvo com sucesso!");
                this.loadVeiculos();
                this.cleanVeiculo();
            },
            handleSaveVeiculoError(e) {
                console.error("Erro ao salvar veículo.", e);

                if (e.errorType == 'uniqueViolated') {
                    this.$root.error("Já existe um veículo com esta placa cadastrado no sistema!");
                } else {
                    this.$root.error("Ocorreu um problema ao salvar o veículo.");
                }
            },
            handleDelVeiculoSuccess(r) {
                this.$root.success("Veículo removido com sucesso!");
                this.loadVeiculos();
            },
            handleDelVeiculoError(e) {
                /* Existe OS com esse veículo */
                if (e.errorType && e.errorType == 'hasDependencies') {
                    let text = 
                        'Não foi possível remover o veículo pois existem as seguintes <b>Ordens de Serviço</b> com este veículo:<br>' + 
                        `<ul style='list-style-type:disc; margin-left: 1rem; margin-top: 1rem;'>${e.data.map(e => `<li><b>Código: ${e.codigo}</b></li>`).join('')}</ul>` +
                        '<br>Remova estas Ordens de Serviço caso seja necessário remover este veículo.';

                    this.$root.alert('is-danger', null, false, null, text);
                } else {
                    console.error("Erro ao remover veículo.", e);
                    this.$root.error("Ocorreu um problema ao salvar o veículo.");
                }
            },
            disableLoading() {
                this.isBusy = false;
            },
            loadVeiculos() {
                if (this.id) {
                    this.$service.veiculos.getByCliente(this.id)
                        .then(r => {
                            this.$set(this.cliente, 'veiculos', r);
                            this.vkey = Math.random();
                        });
                }
            }
        },
    }
</script>