<template>
    <section class="section is-grow-1">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Pesquisar Clientes</h1>
                    <h2 class="subtitle">Comece escrevendo uma das seguintes informações: o nome, razão social, CPF/CNPJ ou telefone</h2>
                </div>
                <div class="column is-narrow">
                    <b-button type="is-primary" tag="router-link" :to="{ name: 'new-cliente' }" icon-left="plus">Novo Cliente</b-button>
                </div>
            </div>

            <div class="columns is-multiline" style="margin-top: 1rem">
                <div class="column is-full">
                    <b-field>
                        <b-input 
                            placeholder="Faça uma pesquisa..."
                            type="search"
                            icon="magnify"
                            @input="search"
                        />
                    </b-field>
                </div>

                <div class="column is-full">
                    <b-table
                        class="data-table"
                        height="calc(100vh - 380px)"
                        :data="tabledata"
                        :loading="isBusy"
                        :current-page="page"
                        :total="count"
                        :per-page="perPage"
                        @page-change="onPageChange"
                        paginated backend-pagination sticky-header
                    >
                        <template slot="empty">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered">
                                    <p><b-icon icon="account-off" size="is-large"></b-icon></p>
                                    <p v-if="term.trim()">Não há resultados com esta pesquisa</p>
                                    <p v-else>Não existem clientes cadastrados</p>
                                    <p><b-button tag="router-link" :to="{ name: 'new-cliente' }" type="is-primary" icon-left="plus">Novo Cliente</b-button></p>
                                </div>
                            </section>
                        </template>

                        <template slot-scope="props">
                            <b-table-column field="tipo" label="Tipo" width="150" centered>
                                <b-tag v-if="props.row.tipo == 'FISICA'" type="is-primary">FÍSICA</b-tag>
                                <b-tag v-else type="is-secondary">JURÍDICA</b-tag>
                            </b-table-column>

                            <b-table-column field="nome" label="Nome">
                                {{ props.row.nome }}
                            </b-table-column>

                            <b-table-column field="telefone" label="Telefone">
                                {{ props.row.telefone | formatTel }}
                            </b-table-column>

                            <b-table-column field="cpf" label="CPF/CNPJ">
                                {{ props.row.cnpj_cpf | formatCpfCnpj }}
                            </b-table-column>

                            <b-table-column field="actions" label="Ações" centered width="210">
                                <div class="buttons has-addons is-centered">
                                    <b-button tag="router-link" :to="{ name: 'edit-cliente', params: { id: props.row._id } }" icon-left="pencil" type="is-light">Editar</b-button>
                                    <b-button icon-left="delete" type="is-danger" @click="promptDelCliente(props.row)">Excluir</b-button>
                                </div>
                            </b-table-column>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                tabledata: [],
                isBusy: false,
                term: '',
                page: 1,
                count: 0,
                perPage: 20,
            }
        },
        created() {
            this.search('');
        },
        methods: {
            search(term) {
                this.term = term;
                this.isBusy = true;

                this.$service.clientes.findAll(term, this.page, this.perPage, 'nome', 'asc')
                    .then(r => {
                        this.tabledata = r.content;
                        this.count = r.total;
                    })
                    .catch(e => {
                        console.error("Erro ao carregar clientes.", e);
                        this.$root.error("Ocorreu um problema ao carregar a lista de clientes.");
                    })
                    .finally(_ => {
                        this.isBusy = false;
                    });
            },
            onPageChange(page) {
                this.page = page;
                this.search(this.term);
            },
            promptDelCliente(c) {
                this.$buefy.dialog.confirm({
                    message: 
                        `Tem certeza que deseja excluir ${(c.nome || c.rsocial) ? `<b>${c.nome || c.rsocial}</b>` : 'este cliente'}?`+
                        `<br><br><span class="has-text-danger has-text-weight-bold">ATENÇÃO! ESTA OPERAÇÃO REMOVERÁ O CLIENTE, TODOS OS VEÍCULOS E ORDENS DE SERVIÇO ASSOCIADAS.</span>`,
                    confirmText: 'Sim',
                    cancelText: 'Não',
                    onConfirm: () => { this.delCliente(c) }
                });
            },
            delCliente(c) {
                this.isBusy = true;

                this.$service.clientes.remove(c._id)
                    .then(this.handleDelClienteSuccess)
                    .catch(this.handleDelClienteError)
                    .finally(this.disableLoading);
            },
            handleDelClienteSuccess(r) {
                this.$root.success("Cliente removido com sucesso!");
                this.search(this.term);
            },
            handleDelClienteError(e) {
                console.error("Erro ao remover cliente.", e);
                this.$root.error("Ocorreu um problema ao remover o cliente.");
            },
            disableLoading() {
                this.isBusy = false;
            }
        },
    }
</script>