<template>
  <div id="app">
    <navbar/>
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
  import Navbar from "./components/Navbar";

  export default {
    name: 'project-n',
    components: {
      Navbar
    },
  }
</script>

<style lang="scss">
  /* CSS */
</style>