@charset "utf-8";

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    src:
        local('Nunito Regular'), local('Nunito-Regular'),
        url(~@/assets/fonts/nunito-latin.woff2) format('woff2'),
        url(~@/assets/fonts/nunito.ttf) format('truetype');
}

$family-sans-serif: "Nunito", sans-serif;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #003827;
$primary-invert: findColorInvert($primary);
$primary-light: lighten($primary, 10%);
$secondary: #851C00;
$secondary-invert: findColorInvert($secondary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
    overflow-y: auto;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 52px);
}

section.section.center-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 !important;

    >.container {
        padding-top: 0.5rem;
    }
}

.navbar-top {
    .navbar-menu .navbar-start {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.is-100 { width: 100%; }
.is-flex-hend { justify-content: flex-end; }
.is-flex-hbetween { justify-content: space-between; }
.is-flex-vcenter { align-items: center; }
.is-flex-vbottom { align-items: flex-end; }
.is-grow-1 { flex-grow: 1; }

.d-table-vcenter tbody tr td {
    vertical-align: middle;
}

.action-card {
    cursor: pointer;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        background-color: darken(whitesmoke, 5%);
    }
}

.indicator-card {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.is-client-search-os .is-subheading {
    background-color: $light;
}

.b-table.data-table .level, .b-table.modal-table .level {
    padding-bottom: 0
}

.data-table table td {
    vertical-align: middle;
}

.dark-placeholder {
    input.input:disabled::placeholder {
        color: $dark;
    }
}